<mat-toolbar class="mat-accent m-0 backToolbar">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="c_formulaire">
        <span class="c_title dialog-title">{{dialogTitle}}</span>
        <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog" class="closeButton">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="flex flex-col flex-auto min-w-10-0 p-2 md:p-4 text-center">
    <form [formGroup]="compteForm">

        <div>

            <mat-form-field class="fuse-mat-dense w-full" appearance="outline">
                <mat-label disabled value="" selected class="labell">Type attribut</mat-label>
                <mat-select formControlName="typeAttribut">
                    <mat-option (click)="selectAttribut(typeAttribut)" *ngFor="let typeAttribut of typeAttributs"
                        [value]="typeAttribut?.id">
                        {{typeAttribut?.libelle}}
                    </mat-option>
                </mat-select>
                <mat-icon matSuffix class="secondary-text">storage</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="fuse-mat-dense w-full mt-2" *ngIf="dataType=='STRING' || dataType=='INTEGER' || dataType=='BIGDECIMAL' || isValeur">
                <mat-label>Valeur</mat-label>
                <input matInput formControlName="valeur" />
                <mat-icon matSuffix class="secondary-text">code</mat-icon>
                <mat-error class="mesError">Le champs est obligatoire</mat-error>
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense w-full" appearance="outline" *ngIf="dataType=='BOOLEAN' || isBoolean">
                <mat-label disabled value="" selected class="labell">Valeur</mat-label>
                <mat-select formControlName="valeur">
                    <mat-option *ngFor="let valeur of valeurs" [value]="valeur?.name">
                        {{valeur?.value}}
                    </mat-option>
                </mat-select>
                <mat-icon matSuffix class="secondary-text">storage</mat-icon>
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense w-full" appearance="outline" *ngIf="isListe && !selectedTypeAttribut.estMultiChoix">
                <mat-label disabled value="" selected class="labell">Valeur</mat-label>
                <mat-select formControlName="valeur" >
                    <mat-option *ngFor="let choix of selectedTypeAttribut['choix']" [value]="choix?.value">
                        {{choix?.libelle}}
                    </mat-option>
                </mat-select>
                <mat-icon matSuffix class="secondary-text">storage</mat-icon>
            </mat-form-field>
            <mat-form-field class="fuse-mat-dense w-full" appearance="outline" *ngIf="isListe && selectedTypeAttribut.estMultiChoix">
                <mat-label disabled value="" selected class="labell">Valeur</mat-label>
                <mat-select formControlName="valeur" multiple>
                    <mat-option *ngFor="let choix of selectedTypeAttribut['choix']" [value]="choix?.value">
                        {{choix?.libelle}}
                    </mat-option>
                </mat-select>
                <mat-icon matSuffix class="secondary-text">storage</mat-icon>
            </mat-form-field>

            <div class="fuse-mat-dense myFile" fxFlex="100" *ngIf="isFile || dataType=='FILE'">
                <div fxFlex="100" fxLayout="row wrap">
                    <button mat-button class="use-avatar" fxFlex="100" type="button" mat-raised-button (click)="fileInput.click()">
                        <mat-icon class="s-32" svgIcon="cloud_upload"></mat-icon> &nbsp;Fichier
                    </button>
                    <input hidden #fileInput class="use-avatar" (change)="selectOnFile($event,'photo_profile','Thumbnail')" type="file" id="file" required />

                    <div class="textOk" *ngIf="'fileSelected'!==''">{{fileSelected}} </div>
                    <div *ngIf="!fileSelected && loaderImg" class="textError">{{errorFile}} </div>
                </div>
            </div>

            <div style="width: 90px;margin: auto;">
                        <img *ngIf="noImage!='' || dataType=='FILE'" class="w-30 object-center ring-4 ring-bg-card ng-star-inserted" style="
                margin-top: 20px;" [src]="getSrc(compteForm.get('contentType').value)"  alt="attribut complementaire">
            </div>
            <div *ngIf="loaderImg">
                <mat-progress-spinner class="circle-loader" color="#000000" [mode]="'indeterminate'" [strokeWidth]="4"
                    [value]="2" [diameter]="40">
                </mat-progress-spinner>
            </div>
        </div>

    </form>

    <div *ngIf="isLoading">
        <mat-progress-spinner class="circle-loader" color="#000000" [mode]="'indeterminate'" [strokeWidth]="4"
            [value]="2" [diameter]="40">
        </mat-progress-spinner>
    </div>
    <div mat-dialog-actions class="flex items-center justify-center space-x-4 mt-4">
        <button mat-raised-button matDialogClose class="submit-button-red" aria-label="VALIDER">
            <span class="textFormRed">Annuler</span>
        </button>

        <button *ngIf="action==='new'" [disabled]="isLoading || loaderImg" (click)="checkRecap('new')" mat-raised-button
            class="submit-button-green" aria-label="VALIDER">
            <span class="textForms">Ajouter</span>
            <mat-progress-spinner *ngIf="isLoading" [diameter]="10" [mode]="'indeterminate'"></mat-progress-spinner>
        </button>
        <button *ngIf="action==='edit'" [disabled]="isLoading || loaderImg" (click)="checkRecap('edit')" mat-raised-button
            class="submit-button-green" aria-label="VALIDER">
            <span class="textForms">Modifier</span>
            <mat-progress-spinner *ngIf="isLoading" [diameter]="10" [mode]="'indeterminate'"></mat-progress-spinner>
        </button>

    </div>
</div>
