<mat-toolbar class="mat-accent m-0 backToolbar">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="c_formulaire">
        <span class="c_title dialog-title">{{dialogTitle}}</span>
        <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog" class="closeButton">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="flex flex-col flex-auto min-w-10-0 p-2 md:p-4">
    <form [formGroup]="initForm" class="event-form w-100-p">
        <mat-form-field appearance="outline" class="fuse-mat-dense w-full mt-2">
            <mat-label value="" selected class="enteteccColor">Garantie</mat-label>
            <mat-select formControlName="typeGarantie" class="enteteccColor" (selectionChange)="switchTypeGarantie($event)">
                <mat-option (click)="checkClearValidator(typeGarantie)" class="enteteccColor" *ngFor="let typeGarantie of listTypeGaranties" [value]="typeGarantie?.id">
                    {{typeGarantie?.libelle}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="flex gap-2" *ngIf="garantieType?.code === constantes.TYPE_GARANTIE.EPARGNE_NANTIE">
            <mat-form-field class="fuse-mat-dense w-1/2 mt-2" appearance="outline">
                <mat-label class="enteteccColor">Montant
                </mat-label>
                <input [mask]="'separator'" matInput type="text" name="montant" formControlName="montant" />
                <mat-error>Le champs est obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field class="fuse-mat-dense w-1/2 mt-2" appearance="outline">
                <mat-label class="enteteccColor">Taux
                </mat-label>
                <input [readonly]="true" (blur)="montantTotalGarantie()" matInput type="number" name="taux" formControlName="taux" />
                <mat-error>Le champs est obligatoire</mat-error>
            </mat-form-field>
        </div>
        <div class="flex gap-2">
            <mat-form-field class="fuse-mat-dense w-1/2 mt-2" appearance="outline">
                <mat-label class="enteteccColor">{{labelMontant}}
                </mat-label>
                <input [readonly]="!tauxReadOnly" [mask]="'separator'" matInput type="text" name="montantTotalGarantie" formControlName="montantTotalGarantie" />
                <mat-error>Le champs est obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="fuse-mat-dense w-1/2 mt-2" *ngIf="garantieType?.code === constantes.TYPE_GARANTIE.EPARGNE_NANTIE">
                <mat-label value="" selected class="enteteccColor">Compte d'approvisionnement</mat-label>
                <mat-select formControlName="compteGarantie" class="enteteccColor">
                    <mat-option class="enteteccColor" *ngFor="let type of compteGaranties" [value]="type?.id">
                        {{type?.numero}} -- {{type?.nom}}</mat-option>
                </mat-select>
            </mat-form-field>
            <ng-select appearance="outline" class="w-1/2 trs c-ng-select mt-2" formControlName="personneGarantie" placeholder="Personne Physique" typeToSearchText="Taper pour rechercher" clearAllText="Effacer tout" notFoundText="Aucun élément trouvé" *ngIf="garantieType?.code === constantes?.TYPE_GARANTIE?.CAUTION_SOLIDAIRE">
                <ng-option *ngFor="let item of personnePhysiqueList" [value]="item?.id">
                    <span>{{item?.numeroPiece}} - {{item?.prenom}} {{item?.nom}}</span>
                </ng-option>
            </ng-select>
        </div>
        <div class="flex gap-2">
            <mat-form-field class="fuse-mat-dense w-full" appearance="outline">
                <mat-label class="enteteccColor">Description

                </mat-label>
                <textarea class="enteteccColor" formControlName="description" matInput type="text"></textarea>
                <mat-icon matSuffix class="enteteccColor">code</mat-icon>
            </mat-form-field>
        </div>
        <div *ngIf="loader" class="custom-loader"></div>
        <div class="flex justify-center gap-4 ma">
            <button mat-raised-button class="submit-buttonRed" matDialogClose type="button">
                <span class="textForm">Annuler</span>
            </button>&nbsp;
            <button mat-raised-button class="submit-button" (click)="checkRecap('new')">
                <span class="textForm" >{{labelButton}}</span>
            </button>
        </div>
    </form>
</div>
