<mat-toolbar class="mat-accent m-0 backToolbar">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="c_formulaire">
        <span  class="c_title dialog-title">{{dialogTitle}}</span>
         <div class="flex">
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog" class="closeButton">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="w-full mt-4 pr-7 pl-7 pb-4" #productionHebdo >
    <img id="logoInstitution" [src]="logoInstitution" alt="Logo institution" style="width:175px">
    <div id="templateSrc" class="" [innerHTML]="templateSrc">
    </div>
</div>
