<mat-toolbar class="mat-accent m-0 backToolbar">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="c_formulaire">
        <span class="c_title dialog-title">{{dialogTitle}}</span>
        <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog" class="closeButton">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="flex flex-col flex-auto min-w-10-0 p-2 md:p-4">
    <form [formGroup]="initForm" class="event-form w-100-p">
        <div class="flex gap-2">
            <ng-select appearance="outline" (change)="checkTypeCompte()" class="w-1/2 trs c-ng-select mt-2"
                formControlName="typeCompte" placeholder="Type Compte" typeToSearchText="Taper pour rechercher"
                clearAllText="Effacer tout" notFoundText="Aucun élément trouvé">
                <ng-option *ngFor="let type of typeComptes" [value]="type?.id">
                    <span>{{type?.code}} - {{type?.libelle}}</span>
                </ng-option>
            </ng-select>

            <mat-form-field class="fuse-mat-dense w-1/2 mt-2" appearance="outline">
                <mat-label class="enteteccColor">Nom
                </mat-label>
                <input matInput type="text" readonly name="nom" formControlName="nom" />
                <mat-error>Le champs est obligatoire</mat-error>
            </mat-form-field>
        </div>
        <div class="flex gap-2">

        </div>
        <div class="flex gap-2">
            <mat-form-field appearance="outline" class="fuse-mat-dense w-1/2 mt-2">
                <mat-label value="" selected class="enteteccColor">Devise</mat-label>
                <mat-select formControlName="devise" class="enteteccColor">
                    <mat-option class="enteteccColor" *ngFor="let devise of devises" [value]="devise?.id">
                        {{devise?.codeAlphaDevise}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="loader">
            <mat-progress-spinner class="circle-loader" color="#000000" [mode]="'indeterminate'" [strokeWidth]="4"
                [value]="2" [diameter]="30">
            </mat-progress-spinner>
        </div>
        <div class="flex justify-center gap-4">
            <button mat-raised-button class="submit-buttonRed" matDialogClose type="button">
                <span class="textForm">Annuler</span>
            </button>&nbsp;
            <button mat-raised-button class="submit-button" (click)="checkRecap('new')">
                <span class="textForm">{{labelButton}}</span>
            </button>
        </div>
    </form>
</div>