<div class="w-full heighContentRight" id="heighContentRightId">
    <div class="w-full mb-10" #productionHebdo>
        <fuse-card class="flex flex-col w-full pl-8 pr-8 fCard">
                <div class="flex flex-col w-full p-4">
                    <div class="flex justify-between">

                        <div class="rounded-full cursor-pointer relative" matTooltip="Photo du client">

                            <ng-container *ngIf="noImage !== ''">
                                <img class="w-16 h-16 rounded-full ring-4 ring-bg-card background_avatarNoImage" [src]="noImage"
                                     alt="">
                            </ng-container>
                            <ng-container *ngIf="noImage === ''">
                                <h1 [style]="print ? 'padding-bottom: 20px' : ''" class="w-16 h-16 rounded-full object-center ring-4 ring-bg-card background_avatar">
                                    {{getFirstElementWord(infosClient?.intitule)}}</h1>
                            </ng-container>
                        </div>
                        <div class="leading-tight uppercase c_title_headerFiche">Client</div>
                        <div data-html2canvas-ignore="true" id="btnPrint">
                            <button class="c_btnAccount_attribut c_btnAccountF" matTooltip="Imprimer la fiche client" mat-icon-button (click)="captureScreen(true)">
                                <mat-icon class="c_icons c_cursor icon-size-5" svgIcon="heroicons_outline:printer">
                                </mat-icon>
                            </button>
                        </div>
                    </div>
                    <hr class="w-full border-t">
                    <div class="flex flex-auto w-full">
                        <div class="flex flex-col w-full">
                            <div class="grid grid-cols-2">
                                <span class="mr-3">Intitulé: </span>
                                <span class="leading-none font-bold">{{ infosClient?.intitule }}</span>
                            </div>
                            <div class="grid grid-cols-2 mt-4">
                                <span class="mr-3">Email: </span>
                                <span class="leading-none font-bold">{{ infosClient?.email }}</span>
                            </div>
                            <div class="grid grid-cols-2 mt-4">
                                <span class="mr-3">Matricule: </span>
                                <span class="leading-none font-bold">{{ infosClient?.matricule }}</span>
                            </div>
                            <div class="grid grid-cols-2 mt-4">
                                <span class="mr-3">Catégorie: </span>
                                <span class="leading-none font-bold">{{ infosClient?.categorie?.libelle }}</span>
                            </div>
                            <div class="grid grid-cols-2 mt-4">
                                <span class="">Type de client: </span>
                                <span class="leading-none font-bold">{{ infosClient?.typeClient?.libelle }}</span>
                            </div>
                        </div>
                        <div class="flex flex-col w-full">
                            <div class="grid grid-cols-2">
                                <span class="">Ville: </span>
                                <span class="leading-none font-bold">{{ infosClient?.ville }}</span>
                            </div>
                            <div class="grid grid-cols-2 mt-4">
                                <span class="">Adresse: </span>
                                <span class="leading-none font-bold">{{ infosClient?.adresse }}</span>
                            </div>
                            <div class="grid grid-cols-2 mt-4">
                                <span class="">Secteur: </span>
                                <span
                                    class="leading-none font-bold">{{ infosClient?.activiteClient?.libelle }}</span>
                            </div>
                            <div class="grid grid-cols-2 mt-4">
                                <span class="">Activité: </span>
                                <span
                                    class="leading-none font-bold">{{ infosClient?.sousActiviteClient?.libelle }}</span>
                            </div>
                            <div class="grid grid-cols-2 mt-4">
                                <div class="mr-3">Statut: </div>
                                <div *ngIf="infosClient?.statut === 'SAISI'"
                                      class="status-accent c_statut">
                                    <div [ngClass]="{'c_mbuttom1' : print,'' : !print}">{{ infosClient?.statut }}</div>
                                </div>
                                <div *ngIf="infosClient?.statut === 'VALIDE'"
                                      class="badge-success c_statut">
                                    <div [ngClass]="{'c_mbuttom1' : print,'' : !print}"> {{ infosClient?.statut }}</div>
                                </div>
                                <div [class]="print ? 'c_mbuttom1' : ''" *ngIf="infosClient?.statut === 'DEMISSION'"
                                      class="status-error c_statut">
                                    <div [ngClass]="{'c_mbuttom1' : print,'' : !print}"> {{ infosClient?.statut }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--         partie frais client                   -->

                    <div class="leading-tight mt-8 uppercase c_title_header"
                         *ngIf="fraisClientDataSource.data.length !== 0">Frais client
                    </div>
                    <hr class="w-full border-t" *ngIf="fraisClientDataSource.data.length !== 0">

                    <div class="overflow-x-auto" *ngIf="fraisClientDataSource.data.length !== 0">
                        <table aria-label="frais client" class="w-full bg-transparent" mat-table matSort
                               [dataSource]="fraisClientDataSource" [trackBy]="trackByFn" #FraiClientTable>
                            <ng-container matColumnDef="libelle">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef [style]="print ? 'padding-bottom: 20px' : ''">Libellé</th>
                                <td mat-cell *matCellDef="let frais"><span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">{{ frais?.frais?.libelle }}</span></td>
                            </ng-container>
                            <ng-container matColumnDef="montantFrais">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef [style]="print ? 'padding-bottom: 20px' : ''">Montant</th>
                                <td mat-cell *matCellDef="let frais"><span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">{{ frais?.montantFrais | number : '1.0-0':'fr' }}</span></td>
                            </ng-container>
<!--                            <ng-container matColumnDef="typePaiementFrais">-->
<!--                                <th mat-header-cell mat-sort-header *matHeaderCellDef [style]="print ? 'padding-bottom: 20px' : ''">Type Paiement</th>-->
<!--                                <td mat-cell *matCellDef="let frais"><span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap" [matTooltip]="frais?.typePaiementFrais">{{frais?.typePaiementFrais }}</span></td>-->
<!--                            </ng-container>-->


                            <ng-container matColumnDef="dateGeneration">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef [style]="print ? 'padding-bottom: 20px' : ''">Date Génération</th>
                                <td mat-cell *matCellDef="let frais"><span class="pr-6 whitespace-nowrap">{{ frais?.dateGeneration | date: 'dd/MM/yyyy' }}</span></td>
                            </ng-container>


                            <ng-container matColumnDef="datePaiement">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef [style]="print ? 'padding-bottom: 20px' : ''">Date Paiement</th>
                                <td mat-cell *matCellDef="let frais"><span class="pr-6 whitespace-nowrap">{{ frais?.datePaiement | date: 'dd/MM/yyyy' }}</span></td>
                            </ng-container>


                            <ng-container matColumnDef="statut">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef [style]="print ? 'padding-bottom: 20px' : ''">Statut</th>
                                <td mat-cell *matCellDef="let frais"><span class="custom_badge_success" *ngIf="frais?.statut === constantes.STATUS.PAYE">PAYE</span><span class="custom_badge_red" *ngIf="frais?.statut === constantes.STATUS.NON_PAYE">NON PAYE</span></td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="fraisColumns"></tr>
                            <tr class="order-row h-16" mat-row *matRowDef="let row; columns: fraisColumns;"></tr>
                        </table>
                    </div>


                    <!--                    partie compte              -->

                    <div class="leading-tight mt-8 uppercase c_title_header" *ngIf="compteDataSource.data.length !== 0">
                        Compte
                    </div>
                    <hr class="w-full border-t">
                    <div class="flex flex-col flex-auto bg-card overflow-hidden">
                        <hr>
                        <div class="overflow-x-auto" *ngIf="compteDataSource.data.length !== 0">
                            <table aria-label="compte 1" class="w-full bg-transparent" mat-table matSort
                                   [dataSource]="compteDataSource" [trackBy]="trackByFn" #compteTable>
                                <ng-container matColumnDef="numero">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef [style]="print ? 'padding-bottom: 20px' : ''">
                                        Numéro compte
                                    </th>
                                    <td mat-cell *matCellDef="let compte">
                                    <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                        {{ compte?.numero }}
                                    </span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="typeCompte">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef [style]="print ? 'padding-bottom: 20px' : ''">
                                        Type compte
                                    </th>
                                    <td mat-cell *matCellDef="let compte">
                                    <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                        {{ compte?.typeCompte?.libelle }}
                                    </span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="statut">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef [style]="print ? 'padding-bottom: 20px' : ''">
                                        Statut
                                    </th>
                                    <td mat-cell *matCellDef="let compte">
                                        <div class="custom_badge_success"
                                             *ngIf="compte?.statut === constantes.STATUS.OUVERT">
                                            <div [ngClass]="{'c_mbuttom1' : print,'' : !print}"> {{ compte?.statut }}
                                            </div>
                                        </div>
                                        <div class="custom_badge_red"
                                             *ngIf="compte?.statut === constantes.STATUS.BLOQUE">
                                            <div [ngClass]="{'c_mbuttom1' : print,'' : !print}"> {{ compte?.statut }}
                                            </div>
                                        </div>
                                        <div class="custom_badge_blue"
                                             *ngIf="compte?.statut === constantes.STATUS.CLOTURE">
                                            <div [ngClass]="{'c_mbuttom1' : print,'' : !print}"> {{ compte?.statut }}
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="dateCreated">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef [style]="print ? 'padding-bottom: 20px' : ''">
                                        Date de création
                                    </th>
                                    <td mat-cell *matCellDef="let compte">
                                    <span class="pr-6 whitespace-nowrap">
                                        {{ compte.dateCreated | date: 'dd/MM/yyyy' }}
                                    </span>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="compteColumns"></tr>
                                <tr class="order-row h-16" mat-row *matRowDef="let row; columns: compteColumns;"></tr>
                            </table>
                        </div>
                        <div *ngIf="isLoading" class="custom-loader"></div>
                    </div>


                    <!--                    partie credit              -->

                    <div class="leading-tight mt-8 uppercase c_title_header" *ngIf="tableCredit.length !== 0">Crédit
                    </div>
                    <hr class="w-full border-t" *ngIf="tableCredit.length !== 0">
                    <div class="flex flex-col flex-auto bg-card overflow-hidden" *ngIf="tableCredit.length !== 0">
                        <hr>
                        <div class="overflow-x-auto">
                            <table aria-label="liste des crédits d'un client" class="w-full bg-transparent" mat-table
                                   matSort [dataSource]="creditDataSource"
                                   [trackBy]="trackByFn" #compteTable>
                                <ng-container matColumnDef="numero">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef [style]="print ? 'padding-bottom: 20px' : ''">
                                        Numéro
                                    </th>
                                    <td mat-cell *matCellDef="let credit">
                                    <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                        {{ credit?.numero }}
                                    </span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="typeCredit">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef [style]="print ? 'padding-bottom: 20px' : ''">
                                        Type Crédit
                                    </th>
                                    <td mat-cell *matCellDef="let credit">
                                    <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                        {{ credit?.typeCredit?.libelle }}
                                    </span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="montant">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef [style]="print ? 'padding-bottom: 20px' : ''">
                                        Montant
                                    </th>
                                    <td mat-cell *matCellDef="let credit">
                                    <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                        {{ credit?.montant | number : '1.0-0':'fr' }}
                                    </span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="taux">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef [style]="print ? 'padding-bottom: 20px' : ''">
                                        Taux
                                    </th>
                                    <td mat-cell *matCellDef="let credit">
                                    <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                        {{ credit?.taux }} %
                                    </span>
                                    </td>
                                </ng-container>
<!--                                <ng-container matColumnDef="dateMiseEnPlace">-->
<!--                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>-->
<!--                                        Mise en place-->
<!--                                    </th>-->
<!--                                    <td mat-cell *matCellDef="let credit">-->
<!--                                    <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">-->
<!--                                        {{ credit?.dateMiseEnPlace | date : 'dd/MM/yyyy' }}-->
<!--                                    </span>-->
<!--                                    </td>-->
<!--                                </ng-container>-->

<!--                                <ng-container matColumnDef="nombreEcheance">-->
<!--                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>-->
<!--                                        Echéance-->
<!--                                    </th>-->
<!--                                    <td mat-cell *matCellDef="let credit">-->
<!--                                    <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">-->
<!--                                        {{ credit?.nombreEcheance }}-->
<!--                                    </span>-->
<!--                                    </td>-->
<!--                                </ng-container>-->

<!--                                <ng-container matColumnDef="createdAt">-->
<!--                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>-->
<!--                                        Date Création-->
<!--                                    </th>-->
<!--                                    <td mat-cell *matCellDef="let credit">-->
<!--                                    <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">-->
<!--                                        {{ credit?.createdAt | date : 'dd/MM/yyyy' }}-->
<!--                                    </span>-->
<!--                                    </td>-->
<!--                                </ng-container>-->

                                <ng-container matColumnDef="statut">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef [style]="print ? 'padding-bottom: 20px' : ''">
                                        Statut
                                    </th>
                                    <td mat-cell *matCellDef="let credit">
                                    <div class="custom_badge_success"
                                          *ngIf="credit?.statut === constantes.STATUS.FINANCE">
                                        <div [ngClass]="{'c_mbuttom1' : print,'' : !print}">{{ credit?.statut }}</div>
                                        </div>
                                        <div class="custom_badge_red"
                                              *ngIf="credit?.statut === constantes.STATUS.ANNULE">
                                            <div [ngClass]="{'c_mbuttom1' : print,'' : !print}">{{ credit?.statut }}</div>
                                            </div>
                                        <div class="custom_badge_red"
                                              *ngIf="credit?.statut === constantes.STATUS.REJETE">
                                            <div [ngClass]="{'c_mbuttom1' : print,'' : !print}">{{ credit?.statut }}</div>
                                            </div>
                                        <div class="custom_badge_blue"
                                              *ngIf="credit?.statut === constantes.STATUS.SAISI">
                                            <div [ngClass]="{'c_mbuttom1' : print,'' : !print}">{{ credit?.statut }}</div>
                                            </div>
                                        <div class="custom_badge_orange"
                                              *ngIf="credit?.statut === constantes.STATUS.VALIDE">
                                            <div [ngClass]="{'c_mbuttom1' : print,'' : !print}">{{ credit?.statut }}</div>
                                            </div>
                                        <div class="custom_badge_blue"
                                              *ngIf="credit?.statut === constantes.STATUS.CLOTURE">
                                            <div [ngClass]="{'c_mbuttom1' : print,'' : !print}">{{ credit?.statut }}</div>
                                            </div>
                                        <div class="custom_badge_brown"
                                              *ngIf="credit?.statut === constantes.STATUS.ENSOUFFRANCE">
                                            <div [ngClass]="{'c_mbuttom1' : print,'' : !print}">{{ credit?.statut }}</div>
                                            </div>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="creditColumns"></tr>
                                <tr class="order-row h-16" mat-row *matRowDef="let row; columns: creditColumns;"></tr>
                            </table>
                        </div>
                        <div *ngIf="isLoading" class="custom-loader"></div>
                    </div>


                    <!--                    partie dépot a terme              -->

                    <div class="leading-tight mt-8 uppercase c_title_header" *ngIf="depotDataSource.data.length !== 0">
                        Dépot à terme
                    </div>
                    <hr class="w-full border-t" *ngIf="depotDataSource.data.length !== 0">
                    <div class="flex flex-col flex-auto bg-card overflow-hidden"
                         *ngIf="depotDataSource.data.length !== 0">
                        <hr>
                        <div class="overflow-x-auto">
                            <table aria-label="depot" class="w-full bg-transparent" mat-table matSort
                                   [dataSource]="depotDataSource" [trackBy]="trackByFn" #depotTable>
                                <ng-container matColumnDef="typeDepotTerme">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef [style]="print ? 'padding-bottom: 20px' : ''">
                                        Type dépot
                                    </th>
                                    <td mat-cell *matCellDef="let depot">
                            <span class="pr-6 whitespace-nowrap">
                                {{ depot.typeDepotTerme?.libelle }}
                            </span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="periodiciteCalculInteret">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef [style]="print ? 'padding-bottom: 20px' : ''">
                                        Périodicité
                                    </th>
                                    <td mat-cell *matCellDef="let depot">
                           <span class="pr-6 whitespace-nowrap">
                                {{ depot.periodiciteCalculInteret.libelle }}
                            </span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="taux">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef [style]="print ? 'padding-bottom: 20px' : ''">
                                        Taux
                                    </th>
                                    <td mat-cell *matCellDef="let depot">
                            <span class="pr-6 whitespace-nowrap">
                                {{ depot.taux }} %
                            </span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="nbreMois">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef [style]="print ? 'padding-bottom: 20px' : ''">
                                        Nombre Mois
                                    </th>
                                    <td mat-cell *matCellDef="let depot">
                            <span class="pr-6 whitespace-nowrap">
                                {{ depot.nbreMois }}
                            </span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="capitalInitial">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Capital Initial
                                    </th>
                                    <td mat-cell *matCellDef="let depot">
                            <span class="pr-6 whitespace-nowrap text-right">
                                {{ depot.capitalInitial | number:'1.0-0':'fr' }}
                            </span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="statut">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Statut
                                    </th>
                                    <td mat-cell *matCellDef="let depot">
                                        <div class="flex">
                                        <span *ngIf="depot.statut === 'SAISI'"
                                              class="badge-primary c_statut rounded-full">{{ depot.statut }}</span>
                                            <span *ngIf="depot.statut === 'VALIDE'"
                                                  class="badge-success c_statut rounded-full">{{ depot.statut }}</span>
                                            <span *ngIf="depot.statut === 'CLOTURE'"
                                                  class="status-accent c_statut rounded-full">{{ depot.statut }}</span>
                                        </div>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="depotColumns"></tr>
                                <tr class="order-row h-16" mat-row *matRowDef="let row; columns: depotColumns;"></tr>
                            </table>
                        </div>
                        <div *ngIf="isLoading" class="custom-loader"></div>
                    </div>
                </div>
        </fuse-card>
    </div>
</div>
