<mat-toolbar class="mat-accent m-0 backToolbar">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="c_formulaire">
        <span class="c_title dialog-title">{{dialogTitle}}</span>
        <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog" class="closeButton">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="flex flex-col flex-auto min-w-10-0 p-2 md:p-4">
    <form [formGroup]="initForm" class="event-form w-100-p">
        <mat-stepper #stepper>
                <mat-step label="Infos Personne Physique">

                    <div class="flex gap-2">
                        <mat-form-field appearance="outline" class="fuse-mat-dense w-1/2 mt-2">
                            <mat-label disabled value="" selected class="enteteccColor">Nature de la pièce </mat-label>
                            <mat-select formControlName="naturePiece" class="enteteccColor">
                                <mat-option (click)="refresh()" class="enteteccColor"
                                    *ngFor="let naturePiece of naturePieces" [value]="naturePiece?.id">
                                    {{naturePiece?.libelle}}
                                </mat-option>
                            </mat-select>
                            <mat-icon matSuffix class="enteteccColor">storage</mat-icon>
                            <mat-error>Le champs est obligatoire</mat-error>
                        </mat-form-field>
                        <div class="w-1/2">
                            <mat-form-field class="fuse-mat-dense w-full mt-2" appearance="outline">
                                <mat-label class="enteteccColor">Numéro de pièce
                                </mat-label>
                                <input (blur)="checkCNI(initForm.get('numeroPiece').value)" matInput type="text"
                                    name="numeroPiece" formControlName="numeroPiece" />
                                <mat-error
                                    *ngIf="initForm.get('numeroPiece')?.touched && initForm.get('numeroPiece')?.errors?.required">Le
                                    champs est obligatoire</mat-error>
                            </mat-form-field>
                            <div class="field-error w-full field text-right" *ngIf="errorCNI">
                                {{errorCNI}}
                            </div>
                        </div>
                    </div>


                    <div class="flex gap-2 mrr-2" *ngIf="searchClients.length !== 0">
                        <mat-form-field class="fuse-mat-dense w-1/2 mt-2" appearance="outline">
                            <mat-label class="enteteccColor">Prénom
                            </mat-label>
                            <input class="typeTitle" matInput type="text" name="prenom" formControlName="prenom"
                                 />
                            <mat-error>Le champs est obligatoire</mat-error>
                        </mat-form-field>

                        <mat-form-field class="fuse-mat-dense w-1/2 mt-2" appearance="outline">
                            <mat-label class="enteteccColor">Nom
                            </mat-label>
                            <input class="typeTitle" matInput type="text" name="nom" formControlName="nom"/>
                            <mat-error>Le champs est obligatoire</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex gap-2 mrr-2" *ngIf="searchClients.length !== 0">
                        <mat-form-field class="fuse-mat-dense w-1/2 mt-2" appearance="outline" fxFlex="50">
                            <mat-label class="enteteccColor">Date de naissance</mat-label>
                            <input class="enteteccColor" [autocomplete]="'off'" matInput type="text"
                                (click)="picker.open()" [autocomplete]="'off'" matInput [matDatepicker]="picker"
                                formControlName="dateNaissance" bsDatepicker />
                            <mat-datepicker-toggle matSuffix [for]="picker">
                                <mat-icon matDatepickerToggleIcon class="enteteccColor">calendar_today</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error>Le champs est oligatoire</mat-error>
                        </mat-form-field>
                        <mat-form-field class="fuse-mat-dense w-1/2 mt-2" appearance="outline">
                            <mat-label class="enteteccColor">Lieu de naissance
                            </mat-label>
                            <input class="typeTitle" matInput type="text" name="lieuNaissance"
                                formControlName="lieuNaissance" />
                            <mat-error>Le champs est obligatoire</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flex gap-2 mrr-2" *ngIf="searchClients.length !== 0">

                        <mat-form-field class="fuse-mat-dense w-1/2 telephone mt-2" fxFlex="50" appearance="outline">
<!--                            <mat-label class="enteteccColor">Téléphone</mat-label>-->
                            <ngx-mat-intl-tel-input
                                [preferredCountries]="['sn', 'fr']"
                                [enablePlaceholder]="true"
                                [enableSearch]="true"
                                name="Téléphone "
                                describedBy="Téléphone "
                                formControlName="phoneNumber"></ngx-mat-intl-tel-input>
                            <mat-error>Le champs est obligatoire</mat-error>
                        </mat-form-field>


                        <mat-form-field class="fuse-mat-dense w-1/2 mt-2" appearance="outline">
                            <mat-label class="enteteccColor">Email</mat-label>
                            <input matInput type="email" name="email" formControlName="email" />
                            <mat-error>Le champs est obligatoire</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flex gap-2 mrr-2" *ngIf="searchClients.length !== 0">
                        <mat-form-field class="fuse-mat-dense w-1/2 mt-2" appearance="outline">
                            <mat-label class="enteteccColor">Date d'expiration</mat-label>
                            <input [min]="dateComptable" class="enteteccColor" [autocomplete]="'off'" matInput type="text"
                                   (click)="pickerDuree.open()" [autocomplete]="'off'" matInput [matDatepicker]="pickerDuree"
                                   formControlName="duree" bsDatepicker />
                            <mat-datepicker-toggle matSuffix [for]="pickerDuree">
                                <mat-icon matDatepickerToggleIcon class="enteteccColor">calendar_today</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #pickerDuree></mat-datepicker>
                            <mat-error>Le champs est oligatoire</mat-error>
                        </mat-form-field>
                    </div>

                    <mat-progress-spinner *ngIf="isSearch" class="circle-loader2" color="#000000"
                        [mode]="'indeterminate'" [strokeWidth]="4" [value]="2" [diameter]="20">
                    </mat-progress-spinner>
                    <div class="flex justify-center w-full gap-4 p-2">
                        <button mat-raised-button matDialogClose class="submit-buttonRed" matStepperPrevious
                            type="button">
                            <span class="textForm">Annuler</span>
                        </button>&nbsp;
                        <button (click)="checkRecaptype('new')" *ngIf="isSearchClient" [disabled]="searchClients.length === 0" mat-raised-button
                            class="submit-button" aria-label="VALIDER" type="button">
                            <span class="textForm">Ajouter</span>
                        </button>&nbsp;

                        <button *ngIf="!isSearchClient" (click)="searchClient()" mat-raised-button class="submit-button"
                            aria-label="VALIDER" type="button" [disabled]="errorCNI!==''">
                            <span class="textForm">Rechercher</span>
                        </button>
                    </div>
                </mat-step>
        </mat-stepper>
    </form>
</div>
