.title {
    font-size: 1rem;
}

.circle-loader {
    margin: auto !important;
    padding: 20px;
}

.use-avatar {
    overflow: hidden;
    width: 100%;
    height: 48px;
    margin-right: 16px;
    margin-bottom: 16px;
    .s-32 {
        color: #FFFFFF !important;
        position: relative;
        margin: 15px;
    }
}

.user-avatar:hover {
    border: #0B71B8 dotted 3px;
}

.pr-haut {
    width: 100%;
}


::ng-deep .mat-horizontal-content-container {
    padding: 0 10px 0 0 !important;
}

.i-button {
    background: #d7edffd1 !important;
}

.borderCard {
    margin-top: -40px;
    border: 1px solid #014747;
}

.valueText {
    color: #000;
    font-weight: bold;
    margin-left: 10px;
    font-size: 15px;
}

.c-infoB {
    font-size: 13px !important;
    color: #fff !important;
    margin-left: -5px !important;
    background-color: #014747 !important;
}

.c-item {
    font-family: "Lato", sans-serif;
    font-style: normal;
    color: #000;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
}

.c-text {
    color: red;
}

.submit-button-green {
    border-radius: 20px !important;
    background: green !important;
}

.submit-button-red {
    border-radius: 20px !important;
    background: #e61a1a !important;
    color: #e61a1a !important;
    border: 2px solid !important;
}

.textForms {
    height: 14px;
    text-align: center;
    font: normal normal normal 17px/13px Microsoft Sans Serif,sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.textFormRed {
    height: 14px;
    text-align: center;
    font: normal normal normal 17px/13px Microsoft Sans Serif,sans-serif;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.d-disp {
    justify-content: flex-end;
    margin-top: 6rem;
}
.butSearch{
    display: block;
    margin: auto;
    margin-bottom: 32px;
}
.butSearchs{
    display: block;
    background:#f0f4f499 !important;
    margin-right: 10px !important;
}
.cssResponsable{
    font-size: 19px;
    font-weight: bold;
}
.cSize{
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}
.titleRecap{
    font-size: 16px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}
.butSearch{
    margin-left: auto;
}
.rec{
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;
}
.c_colorIcom{
    color: #43a14c;
}
.mat-accordion .mat-expansion-panel {
    margin-bottom: 10px !important;
}
::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}
/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
mat-select-country {
    display: grid;
}
.circle-loader2{
    margin: 0 auto;
}