<mat-toolbar class="mat-accent m-0 backToolbar">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="c_formulaire">
        <span class="c_title dialog-title">{{dialogTitle}}</span>
        <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog" class="closeButton">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="flex flex-col flex-auto min-w-10-0 p-2 md:p-4">
    <form [formGroup]="initForm" class="event-form w-100-p">
        <mat-form-field class="fuse-mat-dense w-full mt-2" appearance="outline">
            <mat-label class="enteteccColor">Montant
            </mat-label>
            <input [mask]="'separator'"matInput type="text" name="montant" formControlName="montant" />
            <mat-error>Le champs est obligatoire</mat-error>
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense w-full mt-2" appearance="outline">
            <mat-label class="enteteccColor">Motif de la réservation
            </mat-label>
            <textarea matInput name="motif" formControlName="motif" style="resize: none"></textarea>
            <mat-error>Le champs est obligatoire</mat-error>
        </mat-form-field>

        <div *ngIf="loader">
            <mat-progress-spinner class="circle-loader" color="#000000" [mode]="'indeterminate'" [strokeWidth]="4" [value]="2" [diameter]="30">
            </mat-progress-spinner>
        </div>
        <div class="flex justify-center gap-4">
            <button mat-raised-button class="submit-buttonRed" matDialogClose type="button">
                <span class="textForm">Annuler</span>
            </button>&nbsp;
            <button mat-raised-button class="submit-button" (click)="checkRecap(action)">
                <span class="textForm">{{labelButton}}</span>
            </button>
        </div>
    </form>
</div>
