.title {
    font-size: 1rem;
}

.circle-loader {
    margin: auto !important;
}

.field {
    display: flex;
    mat-form-field {
        width: 50%;
    }
}

.fieldTop {
    display: flex;
    mat-form-field {
        width: 45%;
    }
}
