<mat-toolbar class="mat-accent m-0 backToolbar">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="c_formulaire">
        <span class="c_title dialog-title">{{dialogTitle}}</span>
        <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog" class="closeButton">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="flex flex-col flex-auto min-w-10-0 p-2 md:p-4">
    <form [formGroup]="financementForm" class="event-form w-100-p">
        <div class="flex gap-2">
            <mat-form-field appearance="outline" class="fuse-mat-dense w-1/2">
                <mat-label value="" selected class="enteteccColor">Type de financement
                    
                </mat-label>
                <mat-select ngDefaultControl formControlName="typeFinanement" class="enteteccColor">
                    <mat-option class="enteteccColor" *ngFor="let item of typeFinancementList" [value]="item.value">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="fuse-mat-dense w-1/2" appearance="outline">
                <mat-label class="enteteccColor">Date Mise en Place souhaitée
                    
                </mat-label>
                <input [min]="today" class="enteteccColor" [autocomplete]="'off'" matInput type="text" (click)="picker.open()" [autocomplete]="'off'" matInput [matDatepicker]="picker" formControlName="dateMiseEnPlace" bsDatepicker />
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon class="enteteccColor">calendar_today</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>Le champs est oligatoire</mat-error>
            </mat-form-field>
        </div>

        <div *ngIf="loader">
            <mat-progress-spinner class="circle-loader" color="#000000" [mode]="'indeterminate'" [strokeWidth]="4" [value]="2" [diameter]="30">
            </mat-progress-spinner>
        </div>

        <div class="flex justify-center gap-4">
            <button mat-raised-button class="submit-buttonRed" matDialogClose type="button">
                <span class="textForm">Annuler</span>
            </button>&nbsp;
            <button mat-raised-button class="submit-button" (click)="checkRecap('new')">
                <span class="textForm" >{{labelButton}}</span>
            </button>
        </div>
    </form>
</div>
