<mat-toolbar class="mat-accent m-0 backToolbar">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="c_formulaire">
        <span class="c_title dialog-title">{{dialogTitle}}</span>
        <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog" class="closeButton">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="flex flex-col flex-auto min-w-10-0 p-2 md:p-4">
    <form [formGroup]="actionnaireForm">
        <div class="fieldTop">
            <mat-form-field appearance="outline" class="pr-4 mt-4">
                <mat-label disabled value="" selected class="enteteccColor">Nature Pièce</mat-label>
                <mat-select formControlName="naturePiece" class="enteteccColor">
                    <mat-option class="enteteccColor" *ngFor="let nature of naturePieces" [value]="nature?.id">
                        {{nature?.libelle}}</mat-option>
                </mat-select>
                <mat-icon matSuffix class="enteteccColor">storage</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="pr-4 mt-4">
                <mat-label class="enteteccColor">Numero Pièce</mat-label>
                <input matInput class="enteteccColor" [autocomplete]="'off'" type="text" formControlName="numeroPiece">
                <mat-error class="topError">
                    Ce champ est obligatoire
                </mat-error>
            </mat-form-field>
            <div class="pr-4 mt-6">
                <button (click)="getInfosPersonne()" matTooltip="Rechercher" type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"><svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg></button>
            </div>
        </div>
        <div class="field" *ngIf="showField">
            <mat-form-field appearance="outline" class="pr-2 mt-2">
                <mat-label class="enteteccColor">Prénom</mat-label>
                <input matInput class="enteteccColor" [autocomplete]="'off'" type="text" readonly formControlName="prenom">
                <mat-error class="topError">
                    Ce champ est obligatoire
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="pr-2 mt-2">
                <mat-label class="enteteccColor">Nom</mat-label>
                <input matInput class="enteteccColor" [autocomplete]="'off'" type="text" readonly formControlName="nom">
                <mat-error class="topError">
                    Ce champ est obligatoire
                </mat-error>
            </mat-form-field>
        </div>
        <div class="field" *ngIf="showField">
            <mat-form-field appearance="outline" class="pr-2 mt-2">
<!--                <mat-label class="enteteccColor">Téléphone</mat-label>-->
                <ngx-mat-intl-tel-input
                    [preferredCountries]="['sn', 'fr']"
                    [enablePlaceholder]="true"
                    [enableSearch]="true"
                    name="Téléphone "
                    describedBy="Téléphone "
                    formControlName="telephone"></ngx-mat-intl-tel-input>
                <mat-error>Le champs est obligatoire</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="pr-2 mt-2">
                <mat-label class="enteteccColor">Email</mat-label>
                <input matInput class="enteteccColor" [autocomplete]="'off'" type="text" readonly formControlName="email">
                <mat-error class="topError">
                    Ce champ est obligatoire
                </mat-error>
            </mat-form-field>
        </div>
        <div class="field" *ngIf="showField">
            <mat-form-field appearance="outline" class="pr-2 mt-2">
                <mat-label class="enteteccColor">Fonction</mat-label>
                <input matInput class="enteteccColor" [autocomplete]="'off'" type="text" formControlName="fonction">
                <mat-error class="topError">
                    Ce champ est obligatoire
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="pr-2 mt-2">
                <mat-label class="enteteccColor">Nombre d'action</mat-label>
                <input matInput class="enteteccColor" [autocomplete]="'off'" type="number" formControlName="nombreAction">
                <mat-error class="topError">
                    Ce champ est obligatoire
                </mat-error>
            </mat-form-field>
        </div>
    </form>

    <div *ngIf="isLoading">
        <mat-progress-spinner class="circle-loader" color="#000000" [mode]="'indeterminate'" [strokeWidth]="4" [value]="2" [diameter]="40">
        </mat-progress-spinner>
    </div>
    <div mat-dialog-actions class="flex items-center justify-center space-x-4 mt-4">
        <button mat-raised-button matDialogClose class="submit-button-red" aria-label="VALIDER">
        <span class="textFormRed" >Annuler</span>
    </button>&nbsp;
        <button *ngIf="action === 'new'" [disabled]="isLoading" (click)="checkRecap('new')" mat-raised-button class="submit-button-green" aria-label="VALIDER">
        <span class="textForms">Ajouter</span>
        <mat-progress-spinner
        *ngIf="isLoading"
        [diameter]="10"
        [mode]="'indeterminate'"></mat-progress-spinner>
    </button>&nbsp;
        <button *ngIf="action === 'edit'" [disabled]="isLoading" (click)="checkRecap('edit')" mat-raised-button [color]="'accent'" class="submit-button-green" aria-label="VALIDER">
        <span class="textForms">Modifier</span>
    </button>
    </div>
</div>
