.btnimp{
    justify-content: end !important;
}
.titleExCompt{
    justify-content: left !important;
    font-size: large;

}
.truncate-text {
    display: inline-block;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.styleBut{
    font-family: auto;
    font-weight: bold;
    color: #1a2b60;
}

.btn-red {
    color: #f56565 !important; /* Tailwind CSS red-500 color */
        opacity: 0.6;
        cursor: not-allowed;
}

.btn-green {
    color: #48bb78 !important; /* Tailwind CSS green-500 color */
}

