/* ----------------------------------------------------------------------------------------------------- */
/*  @ Main Tailwind file for injecting utilities.
/* ----------------------------------------------------------------------------------------------------- */

// src/styles/tailwind.scss
@tailwind base;
@tailwind components;
@tailwind utilities;



*, *::before, *::after {
  --tw-border-opacity: 1 !important;
  border-color: rgba(var(--fuse-border-rgb), var(--tw-border-opacity));

  .dark & {
      --tw-border-opacity: 0.12 !important;
  }
  border-style: none;
}

