$white:#FFFFFF;
$redColor:#cf4141;
$white:#ffffff;
$primaryColor:#187dd6;
$infoColor:#5da4e2;
$greenColor:#40b54b;
$passedColor: #e59b52;
$initialColor:#1e293b;
$blackColor:#000000;
$borderModal:#4F46E5;
$warningColor:orange;
