<div class="w-full heighContentRight">
    <div class="w-full mb-10">
        <ng-container>
            <div class="flex flex-col flex-auto bg-card shadow rounded-xl overflow-hidden">
                <div class="overflow-x-auto">

                    <table aria-label="amortissement" class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                        <thead class="c_header">

                            <tr>
                                <th scope="col" class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-white">
                                    N°
                                </th>
                                <th scope="col" class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-white">
                                    Date Echéance
                                </th>
                                <th scope="col" class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-white">
                                    Statut
                                </th>
                                <th scope="col" class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-white">
                                    Capital Echéance
                                </th>
                                <th scope="col" class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-white">
                                    Intérét Echéance
                                </th>
                                <th scope="col" class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-white">
                                    Montant Echéance
                                </th>

                                <th scope="col" class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-white">
                                    Date Paiement
                                </th>
                                <th scope="col" class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-white">
                                    Montant Rembouré
                                </th>
                                <th scope="col" class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-white">
                                    Capital Rest dû
                                </th>
                                <th scope="col" class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-white">
                                    Capital payé
                                </th>
                                <th scope="col" class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-white">
                                    Intérét payé
                                </th>
                                <th scope="col" class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-white">
                                    Retard jour
                                </th>
                                <th scope="col" class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-white">
                                    Pénalité
                                </th>
                                <th scope="col" class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-white">
                                    Pénalité Payé
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                            <tr [ngClass]="{'text-red-500 bg-red-50 font-bold': item.reportEcheance === true }" [matTooltip]="item.reportEcheance ? 'Reporté' : ''" *ngFor="let item of tableauAmortissements; trackBy: trackByFn">
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    {{item?.numero}}
                                </td>
                                <td [ngClass]="{'text-red-500 font-bold': item.reportEcheance === true }" class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    {{item?.dateEcheance | date:'dd/MM/yyyy'}}
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    <span *ngIf="item?.statut === 'NON_TRAITE'" class="custom_badge_blue text-center font-medium text-sm text-secondary whitespace-nowrap">
                                      Non échu
                                    </span>
                                    <span *ngIf="item?.statut === 'PAYE'" class="custom_badge_success text-center font-medium text-sm text-secondary whitespace-nowrap">
                                     Payé
                                    </span>
                                    <span *ngIf="item?.statut === 'PAYE_PARTIELLEMENT'" class="custom_badge_orange text-center font-medium text-sm text-secondary whitespace-nowrap">
                                     Payé partiellement
                                    </span>
                                    <span *ngIf="item?.statut === 'IMPAYE'" class="custom_badge_red text-center font-medium text-sm text-secondary whitespace-nowrap">
                                     Impayé
                                    </span>
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap text-center">
                                    {{item?.montantCapital | number:'1.0-0':'fr'}}
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap text-center">
                                    {{item?.montantInteret | number:'1.0-0':'fr'}}
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap text-center">
                                    {{item?.montantEcheance | number:'1.0-0':'fr'}}
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    {{item?.datePaiement | date:'dd/MM/yyyy'}}
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    {{item?.montantRembourse | number:'1.0-0':'fr'}}
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    {{item?.capitalRestant | number:'1.0-0':'fr'}}
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    {{item?.montantCapitalPaye | number:'1.0-0':'fr'}}
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    {{item?.montantInteretPaye | number:'1.0-0':'fr'}}
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    {{item?.nombreJourRetard}}
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    {{item?.montantPenalite | number:'1.0-0':'fr'}}
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    {{item?.montantPenalitePaye | number:'1.0-0':'fr'}}
                                </td>
                            </tr>
                            <tr>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap font-bold" colspan="3">TOTAL GENERAL</td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap text-center font-bold">{{capitalTotal | number:'1.0-0':'fr'}}</td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap text-center font-bold">{{interetsTotals | number:'1.0-0':'fr'}}</td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap text-center font-bold">{{montantEcheanceTotal | number:'1.0-0':'fr'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-container>
    </div>
</div>
