<mat-toolbar class="mat-accent m-0 backToolbar">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="c_formulaire">
        <span class="c_title dialog-title">{{dialogTitle}}</span>
        <button mat-icon-button matTooltip="fermer" (click)="matDialogRef.close()" aria-label="Close dialog" class="closeButton">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="flex flex-col items-center pb-6 px-6 sm:pb-10 sm:px-10">
    <div class="justify-between items-center w-full">
        <div class=" bg-white/20 p-6 rounded-md shadow-sm border-2 border-gray-50">
            <div class="flex grid grid-cols-2 card-remb">
                    <div class="grid grid-cols-2">
                        <span class="mr-3">Numéro crédit : </span>
                        <span class="font-bold">{{datas?.numero}}</span>
                    </div>
<!--                    <div class="grid grid-cols-2">-->
<!--                        <span class="mr-3">Statut crédit: </span>-->
<!--                        <span class="font-bold">-->

<!--                            <span class="custom_badge_success"-->
<!--                                  *ngIf="datas?.statut === constantes.STATUS.FINANCE">{{datas?.statut}}</span>-->
<!--                                    <span class="custom_badge_red"-->
<!--                                          *ngIf="datas?.statut === constantes.STATUS.ANNULE">{{datas?.statut}}</span>-->
<!--                                    <span class="custom_badge_blue"-->
<!--                                          *ngIf="datas?.statut === constantes.STATUS.SAISI">{{datas?.statut}}</span>-->
<!--                                    <span class="custom_badge_orange"-->
<!--                                          *ngIf="datas?.statut === constantes.STATUS.VALIDE">{{datas?.statut}}</span>-->
<!--                        </span>-->
<!--                    </div>-->

                    <div class="grid grid-cols-2">
                        <span class="mr-3">Montant crédit: </span>
                        <span class="font-bold">{{datas?.montant | number :'1.0-0':'fr'}}</span>
                    </div>
                <div class="grid grid-cols-2 mt-4">
                    <span class="mr-3">Montant Echéance: </span>
                    <span class="font-bold">{{datas?.montantEcheance | number :'4.1-5':'fr'}}</span>
                </div>

                <div class="grid grid-cols-2 mt-4">
                    <span class="mr-3">Restant du: </span>
                    <span class="font-bold">
                        <span class="custom_badge_orange">{{datas?.montantRestantDu | number :'4.1-5':'fr' }}</span>
                    </span>
                </div>

                <div class="grid grid-cols-2 mt-4">
                    <span class="mr-3">Compte Remboursement : </span>
                    <span class="font-bold">{{datas?.compteRemboursement?.numero}}&nbsp;</span>
                </div>

                <div class="flex grid grid-cols-2 mt-4">
                        <span class="mr-3">Solde Compte Remb: </span>
                        <span class="font-bold">
                            <span class=" custom_badge_success">{{datas?.compteRemboursement?.soldeIndicatif | number :'1.0-0':'fr'}}</span>
                        </span>
                    </div>
                <div class="flex grid grid-cols-2 mt-4">
                        <span class="mr-3">Nombre d'échéances: </span>
                        <span class="font-bold">
                            <span class=" custom_badge_blue">{{amortissementData}}</span>
                        </span>
                    </div>
                 </div>
            <hr>
            <div>
                <form [formGroup]="initForm">
                    <div class="flex">
                    <mat-form-field class="fuse-mat-dense w-1/2 mt-2" appearance="outline">
                        <mat-label class="enteteccColor">Nombre échéances</mat-label>
                       <mat-select  (selectionChange)="onSelectionChange()"  [(ngModel)]="nbreEcheance" class="enteteccColor" [ngModelOptions]="{standalone: true}">
                            <mat-option class="enteteccColor" *ngFor="let type of generateOptions()" [value]="type">
                                {{type}}
                            </mat-option>
                        </mat-select>
                        <mat-error>Le champs est obligatoire</mat-error>
                    </mat-form-field>
                        &nbsp;
                        &nbsp;
                   <mat-form-field class="fuse-mat-dense w-1/2 mt-2" appearance="outline">
                        <mat-label class="enteteccColor">Montant remboursement anticipé</mat-label>
                        <input  matInput [mask]="'separator'" type="text" name="montant" formControlName="montant">
                        <mat-error>Le champs est obligatoire</mat-error>
                    </mat-form-field>
                    </div>

                    <div *ngIf="isLoading" class="custom-loader"></div>
                    <div *ngIf="isLoader" class="loading"></div>

                    <div class="flex justify-center gap-4">
                        <button mat-raised-button matDialogClose class="submit-buttonRed" aria-label="VALIDER">
                            <span class="textForm">Annuler</span>
                        </button>
                        <button [disabled]="isMontant || isLoading" mat-raised-button class="submit-button" (click)="validerAnticipe()">
                            <span class="textForm" >Valider</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

