
<div class="w-full heighContentRight" id="heighContentRightId">
    <div class="w-full mb-10">
        <fuse-card class="flex flex-col w-full p-4">
            <ng-container *ngIf="!showVue">
                <div class="w-full mb-10">
                    <fuse-card class="flex flex-col w-full p-4">
                        <div class="flex justify-between mb-1.5">
                            <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate c_label">Liste des Dépôts à Terme</div>
                            <div class="flex items-center mt-8 mb-4 lg:m-0 lg:ml-auto floatRight">
                                <button [disabled]="currentClient?.statut ==='DEMISSION'" class="c_btnAccount_attribut c_btnAccountF" matTooltip="Ajouter un depot a terme" (click)="ajoutDepot()" mat-icon-button>
                                    <mat-icon class="c_icons c_cursor icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                                </button>
                            </div>
                        </div>
                        <hr>
                        <div class="overflow-x-auto">
                            <table aria-label="depot" class="w-full bg-transparent" mat-table matSort [dataSource]="depotDataSource" [trackBy]="trackByFn" #depotTable>
                                <ng-container matColumnDef="typeDepotTerme">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Type dépôt
                                    </th>
                                    <td mat-cell *matCellDef="let depot">
                            <span class="pr-6 whitespace-nowrap">
                                {{depot.typeDepotTerme?.libelle}}
                            </span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="periodiciteCalculInteret">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Périodicité
                                    </th>
                                    <td mat-cell *matCellDef="let depot">
                           <span class="pr-6 whitespace-nowrap">
                                {{depot.periodiciteCalculInteret.libelle}}
                            </span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="taux">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Taux
                                    </th>
                                    <td mat-cell *matCellDef="let depot">
                            <span class="pr-6 whitespace-nowrap">
                                {{depot.taux}} %
                            </span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="nbreMois">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Nombre Mois
                                    </th>
                                    <td mat-cell *matCellDef="let depot">
                            <span class="pr-6 whitespace-nowrap">
                                {{depot.nbreMois}}
                            </span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="capitalInitial">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Capital Initial
                                    </th>
                                    <td mat-cell *matCellDef="let depot">
                            <span class="pr-6 whitespace-nowrap text-right">
                                {{depot.capitalInitial | number:'1.0-0':'fr'}}
                            </span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="statut">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Statut
                                    </th>
                                    <td mat-cell *matCellDef="let depot">
                                        <div class="flex">
                                        <span *ngIf="depot.statut === 'SAISI'"
                                          class="badge-blue c_statut rounded-full">{{ depot.statut }}</span>
                                        <span *ngIf="depot.statut === 'VALIDE'"
                                              class="badge-success c_statut rounded-full">{{ depot.statut }}</span>
                                        <span *ngIf="depot.statut === 'CLOTURE'"
                                              class="status-grey c_statut rounded-full">{{ depot.statut }}</span>

                                        </div>
                                    </td>

                                </ng-container>

                                <ng-container matColumnDef="action">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Action
                                    </th>
                                    <td mat-cell *matCellDef="let depot">
                                        <button
                                            class="btn-collapse" [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                                            <mat-icon class="collapseButton" [svgIcon]="'heroicons_outline:dots-vertical'">
                                            </mat-icon>
                                        </button>
                                        <mat-menu class="" #actionsMenu="matMenu">
                                            <p class="">
                                                <button [disabled]="currentClient?.statut ==='DEMISSION'"
                                                    *ngIf="depot.statut === 'SAISI'"
                                                    matTooltip="Modifier le dépôt" (click)="modifierDepot(depot)"
                                                    mat-icon-button>
                                                    <mat-icon class=" text-green-400 icon-size-5" [svgIcon]="'edit'">
                                                    </mat-icon>
                                                </button>
                                                <button [disabled]="currentClient?.statut ==='DEMISSION'"
                                                    *ngIf="depot.statut ==='SAISI'"
                                                    matTooltip="Valider le dépôt" (click)="validerDepot(depot)"
                                                    mat-icon-button>
                                                    <mat-icon class="iconAction detail icon-size-5 text-green-400"
                                                              svgIcon="mat_outline:check_circle">
                                                    </mat-icon>
                                                </button>
                                                <button class="btn-default" [disabled]="currentClient?.statut ==='DEMISSION'"
                                                        *ngIf="depot.statut === 'VALIDE'"
                                                        [matTooltip]="'Débloquer le dépôt'"
                                                        mat-icon-button (click)="openModalDepot(depot)">
                                                    <mat-icon class="iconAction text-black-400 icon-size-5"
                                                              [svgIcon]="'heroicons_outline:lock-open'">
                                                    </mat-icon>
                                                </button>
                                                <button [disabled]="currentClient?.statut ==='DEMISSION'" *ngIf="depot.statut!=='SAISI'" (click)="templateConsentementClient(depot)"
                                                        matTooltip="Template Contrat" mat-icon-button>
                                                    <mat-icon class=" text-blue-500 icon-size-5" [svgIcon]="'insert_drive_file'">
                                                    </mat-icon>
                                                </button>
                                                <button *ngIf="depot.statut!=='SAISI'" [disabled]="depot.statut ==='CLOTURE' || currentClient?.statut ==='DEMISSION'" (click)="openModalAvanceDepot(depot)"
                                                        matTooltip="Avance dépôt terme" mat-icon-button>
                                                    <mat-icon class=" text-gray-600 icon-size-5" [svgIcon]="'payments'">
                                                    </mat-icon>
                                                </button>
                                                <button
                                                    matTooltip="Détails du depot terme"
                                                    (click)="details(depot)" mat-icon-button>
                                                    <mat-icon class="iconAction detail icon-size-5 c-colorDetail"
                                                              svgIcon="heroicons_outline:clipboard-list"></mat-icon>
                                                </button>
                                                <button [disabled]="depot.statut !=='SAISI' || currentClient?.statut ==='DEMISSION'"
                                                        matTooltip="Supprimer"  (click)="supprimerItems(depot.id,depot)"
                                                        mat-icon-button>
                                                    <mat-icon class=" text-red-400 icon-size-5"
                                                              [svgIcon]="'delete_outline'"></mat-icon>
                                                </button>
                                            </p>
                                        </mat-menu>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="depotColumns"></tr>
                                <tr class="order-row h-16" mat-row *matRowDef="let row; columns: depotColumns;"></tr>
                            </table>
                            <div *ngIf="depotDataSource.data.length === 0" class="mt-14">
                                <ng-container>
                                    <div class="p-8 sm:p-16 title-chargement font-semibold tracking-tight text-center textVideMessage">
                                        La liste est vide !
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </fuse-card>



                </div>
            </ng-container>

            <ng-container *ngIf="showVue">
                <div>
                    <div class="flex justify-between c_mbuttom">
                                                <span class="inline-flex items-center cursor-pointer mb-1"
                                                      (click)="showVue = !showVue">
                                                    <mat-icon class="icon-size-5 text-current"
                                                              [svgIcon]="'heroicons_solid:arrow-sm-left'"></mat-icon>
                                                    <span class="ml-1.5 font-medium leading-5">Retour</span>
                                                </span>
                    </div>

                    <hr>
                    <mat-tab-group dynamicHeight [(selectedIndex)]="currentTab" class="w-full">
                        <mat-tab label="Dépôt à terme">
                            <div>
                                <div class="flex flex-col w-full p-4 mt-4">
                                    <div class="flex justify-between">
                                        <div class="leading-tight uppercase c_title_header">Informations générales du Dépôt à terme
                                        </div>
                                    </div>
                                    <hr class="w-full border-t">
                                    <div class="flex flex-auto w-full cSize mb-5">
                                        <div class="flex flex-col w-full">

                                            <div class="flex items-center grid grid-cols-2 recapCss">
                                                <span class="tReca">Type dépôt terme: </span>
                                                <span class="tiReca">{{currentCredit?.typeDepotTerme.libelle}}</span>
                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Nombre mois min: </span>
                                                <span class="tiReca">{{currentCredit?.typeDepotTerme.nbreMoisMin}}</span>
                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Nombre mois max: </span>
                                                <span class="tiReca">{{currentCredit?.typeDepotTerme.nbreMoisMax}}</span>
                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Taux: </span>
                                                <span class="tiReca">{{ currentCredit?.typeDepotTerme.taux }}</span>
                                            </div>

                                        </div>

                                        <div class="flex flex-col w-full">
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Montant min: </span>
                                                <span class="tiReca">{{currentCredit?.typeDepotTerme.montantMin | number :'1.0-0':'fr'}} FCFA</span>
                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Montant max: </span>
                                                <span class="tiReca">
                                        {{currentCredit?.typeDepotTerme.montantMax | number :'1.0-0':'fr'}} FCFA
                                    </span>
                                            </div>
                                            <div class="flex items-center grid grid-cols-2 recapCss">
                                                <span class="tReca">Taux a Saisir: </span>
                                                <span class="tiReca">
                                        {{currentCredit?.typeDepotTerme.tauxASaisir}}
                                    </span>
                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Statut: </span>
                                                <span *ngIf="currentCredit?.client.statut === 'SAISI'"
                                                      class="badge-blue c_statut rounded-full">{{currentCredit?.typeDepotTerme.statut}}</span>
                                                <span *ngIf="currentCredit?.client.statut === 'VALIDE'"
                                                      class="badge-success c_statut rounded-full">{{ currentCredit?.typeDepotTerme.statut }}</span>
                                            </div>

                                        </div>
                                    </div>
                                    <hr class="w-full border-t">
                                    <div class="flex flex-auto w-full mt-2 cSize mb-5">
                                        <div class="flex flex-col w-full">
                                            <div class="flex items-center grid grid-cols-2 recapCss">
                                                <span class="tReca">Client: </span>
                                                <span class="tiReca">
                                        {{currentCredit?.client.intitule | titlecase}}
                            </span>
                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Adresse: </span>
                                                <span class="tiReca">{{currentCredit?.client.adresse | titlecase}}</span>
                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Ville: </span>
                                                <span class="tiReca">{{currentCredit?.client.ville | titlecase}}</span>
                                            </div>

                                        </div>
                                        <div class="flex flex-col w-full">
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Email: </span>
                                                <span class="tiReca">{{currentCredit?.client.email }}</span>
                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Statut: </span>
                                                <span *ngIf="currentCredit?.client.statut === 'SAISI'"
                                                      class="badge-blue c_statut rounded-full">{{ currentCredit?.client.statut }}</span>
                                                <span *ngIf="currentCredit?.client.statut === 'VALIDE'"
                                                      class="badge-success c_statut rounded-full">{{ currentCredit?.client.statut }}</span>

                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Montant Part sociale: </span>
                                                <span class="tiReca">{{currentCredit?.client?.montantPartSociale }} FCFA</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="w-full border-t">
                                    <div class="flex flex-auto w-full mt-2 cSize mb-5">
                                        <div class="flex flex-col w-full">
                                            <div class="flex items-center grid grid-cols-2 recapCss">
                                                <span class="tReca">Numéro: </span>
                                                <span class="tiReca">
                                        {{currentCredit?.numero}}
                            </span>
                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Capital Initial: </span>
                                                <span class="tiReca">{{currentCredit?.capitalInitial | number:'1.0-0':'fr'}} FCFA</span>
                                            </div>

                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Statut: </span>
                                                <span *ngIf="currentCredit?.statut === 'SAISI'"
                                                      class="badge-blue c_statut rounded-full">{{ currentCredit?.statut }}</span>
                                                <span *ngIf="currentCredit?.statut === 'VALIDE'"
                                                      class="badge-success c_statut rounded-full">{{ currentCredit?.statut }}</span>
                                                <span *ngIf="currentCredit?.statut === 'CLOTURE'"
                                                      class="badge-gray c_statut rounded-full">{{ currentCredit?.statut }}</span>
                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Montant Cumule: </span>
                                                <span class="tiReca">{{currentCredit?.montantCumuleInteret | number:'1.0-0':'fr'}} FCFA</span>
                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Capital Actuel: </span>
                                                <span class="tiReca">{{currentCredit?.capitalActuel | number:'1.0-0':'fr'}} FCFA</span>
                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Taux Actuel: </span>
                                                <span class="tiReca">{{currentCredit?.tauxActuel}}%</span>
                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Date Debut: </span>
                                                <span class="tiReca">{{currentCredit?.dateDebut | date : 'dd-MM-yyyy'}}</span>
                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Date Fin: </span>
                                                <span class="tiReca">{{currentCredit?.dateFin | date : 'dd-MM-yyyy'}}</span>
                                            </div>
                                        </div>
                                        <div class="flex flex-col w-full">
                                            <div class="flex items-center grid grid-cols-2 recapCss">
                                                <span class="tReca">Récapitalisation intéret: </span>
                                                <span class="tiReca">{{currentCredit?.recapitalisationInteret }}</span>
                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Taux initial: </span>
                                                <span class="tiReca">{{ currentCredit?.taux }}%</span>
                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Nombre de mois: </span>
                                                <span class="tiReca">{{ currentCredit?.nbreMois }} mois</span>
                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Périodicité: </span>
                                                <span class="tiReca">{{ currentCredit?.periodiciteCalculInteret?.libelle }}</span>
                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Motif Epargne: </span>
                                                <span class="tiReca">{{ currentCredit?.motifEpargne | titlecase }}</span>
                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Montant Dernier Intéret: </span>
                                                <span class="tiReca">{{currentCredit?.montantDernierInteretCalcule | number:'1.0-0':'fr'}} FCFA</span>
                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Interet Actuel Previsionnel: </span>
                                                <span class="tiReca">{{currentCredit?.interetActuelPrevisionnel | number:'1.0-0':'fr'}} FCFA</span>
                                            </div>
                                            <div class="flex items-center mt-2 grid grid-cols-2 recapCss">
                                                <span class="tReca">Interet Initial Previsionnel: </span>
                                                <span class="tiReca">{{currentCredit?.interetInitialPrevisionnel | number:'1.0-0':'fr'}} FCFA</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex justify-between" *ngIf="currentCredit?.statut==='VALIDE'">
                                        <div class="leading-tight uppercase c_title_header">Informations Validation
                                        </div>
                                    </div>
                                    <hr class="w-full border-t my-6"  *ngIf="currentCredit?.statut==='VALIDE'">
                                    <div class="flex flex-auto w-full mt-2 cSize mb-5"  *ngIf="currentCredit?.statut==='VALIDE'">
                                        <div class="flex flex-col w-full">
                                            <div class="flex items-center grid grid-cols-2 recapCss">
                                                <span class="tReca">User Validation: </span>
                                                <span class="tiReca">
                                        {{currentCredit.userValidation.displayName | titlecase}}
                                    </span>
                                            </div>
                                            <div class="flex items-center grid grid-cols-2 mt-2 recapCss">
                                                <span class="tReca">Date Validation: </span>
                                                <span class="tiReca">{{currentCredit.dateValidation | date :'dd-MM-yyyy'}}</span>
                                            </div>

                                            <div class="flex items-center grid grid-cols-2 mt-2 recapCss">
                                                <span class="tReca">Montant Cumule Intéret: </span>
                                                <span class="tiReca">{{currentCredit.montantCumuleInteret}} FCFA</span>
                                            </div>
                                        </div>
                                        <div class="flex flex-col w-full">
                                            <div class="flex items-center grid grid-cols-2 mt-2 recapCss">
                                                <span class="tReca">Montant Dernier Intéret Calcule: </span>
                                                <span class="tiReca">{{currentCredit.montantDernierInteretCalcule }}</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="flex justify-between" *ngIf="currentCredit?.statut==='CLOTURE'">
                                        <div class="leading-tight uppercase c_title_header">Informations Clôture
                                        </div>
                                    </div>
                                    <hr class="w-full border-t my-6" *ngIf="currentCredit?.statut==='CLOTURE'">
                                    <div class="flex flex-auto w-full mt-2 cSize mb-5" *ngIf="currentCredit?.statut==='CLOTURE'">
                                        <div class="flex flex-col w-full">
                                            <div class="flex items-center grid grid-cols-2 recapCss">
                                                <span class="tReca">User clôture: </span>
                                                <span class="tiReca">
                                        {{currentCredit.userCloture?.displayName | titlecase}}
                                    </span>
                                            </div>
                                            <div class="flex items-center grid grid-cols-2 mt-2 recapCss">
                                                <span class="tReca">Date clôture: </span>
                                                <span class="tiReca">{{currentCredit.dateCloture | date :'dd-MM-yyyy'}}</span>
                                            </div>

                                            <div class="flex items-center grid grid-cols-2 mt-2 recapCss">
                                                <span class="tReca">Motif déblocage: </span>
                                                <span class="tiReca">{{currentCredit.motifDeblocage | titlecase}}</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="flex justify-between" *ngIf="currentCredit?.statut!=='SAISI'">
                                        <div class="leading-tight uppercase c_title_header">Informations Compte Epargne
                                        </div>
                                    </div>

                                    <hr class="w-full border-t my-6" *ngIf="currentCredit?.statut!=='SAISI'">
                                    <div class="flex flex-auto w-full mt-2 cSize mb-5" *ngIf="currentCredit?.statut!=='SAISI'">
                                        <div class="flex flex-col w-full">
                                            <div class="flex items-center grid grid-cols-2 recapCss">
                                                <span class="tReca">Numéro Compte: </span>
                                                <span class="tiReca">
                                        {{currentCredit.compteEpargne.numero}}
                                    </span>
                                            </div>
                                            <div class="flex items-center grid grid-cols-2 mt-2 recapCss">
                                                <span class="tReca">Nom Compte: </span>
                                                <span class="tiReca">
                            {{currentCredit.compteEpargne.nom}}
                        </span>
                                            </div>
                                            <div class="flex items-center grid grid-cols-2 mt-2 recapCss">
                                                <span class="tReca">Statut: </span>
                                                <span *ngIf="currentCredit?.statut === 'SAISI'"
                                                      class="badge-blue c_statut rounded-full">{{ currentCredit?.statut }}</span>
                                                <span *ngIf="currentCredit?.statut === 'VALIDE'"
                                                      class="badge-success c_statut rounded-full">{{ currentCredit?.statut }}</span>
                                                <span *ngIf="currentCredit?.statut === 'CLOTURE'"
                                                      class="badge-gray c_statut rounded-full">{{ currentCredit?.statut }}</span>
                                            </div>
                                            <div class="flex items-center grid grid-cols-2 mt-2 recapCss">
                                                <span class="tReca">Solde Indicatif: </span>
                                                <span class="tiReca">
                                                    {{currentCredit.compteEpargne.soldeIndicatif}} FCFA
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="flex justify-between" *ngIf="currentCredit?.statut!=='SAISI'">
                                        <div class="leading-tight uppercase c_title_header">Informations Avance
                                        </div>
                                    </div>
                                    <hr class="w-full border-t my-6" *ngIf="currentCredit?.statut!=='SAISI'">
                                    <div class="flex flex-col  w-full  min-w-10-0 text-center">
                                        <div class="overflow-x-scroll" *ngIf="currentCredit?.statut!=='SAISI'">
                                            <table aria-label=""
                                                   class="w-full bg-transparent overflow-hidden"
                                                   mat-table matSort [dataSource]="avancesDataSource"
                                                   [trackBy]="trackByFn">
                                                <ng-container matColumnDef="userAvance">
                                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Nom
                                                    </th>
                                                    <td mat-cell *matCellDef="let compte">
                                                        <span
                                                            class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                                              {{ compte?.userAvance.displayName }}
                                                        </span>
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="email">
                                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Email
                                                    </th>
                                                    <td mat-cell *matCellDef="let compte">
                                                        <span
                                                            class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                                              {{ compte?.userAvance.email }}
                                                        </span>
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="montantAvance">
                                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Montant Avance
                                                    </th>
                                                    <td mat-cell *matCellDef="let compte">
                                                        <span
                                                            class="pr-6 font-medium text-sm text-secondary flex content-end whitespace-nowrap">
                                                              {{ compte?.montantAvance | number : '1.0-0' : 'fr'}}
                                                        </span>
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="dateAvance">
                                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                                        Date Avance
                                                    </th>
                                                    <td mat-cell *matCellDef="let compte">
                                                        <span
                                                            class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                                              {{ compte?.dateAvance | date : 'dd/MM/YYYY'}}
                                                        </span>
                                                    </td>
                                                </ng-container>
                                          <tr mat-header-row *matHeaderRowDef="avancesColumns"></tr>
                                                <tr class="order-row h-16" mat-row
                                                    *matRowDef="let row; columns: avancesColumns;"></tr>
                                            </table>
                                            <div *ngIf="currentCredit?.statut!=='SAISI' && dataAvance.length === 0">
                                                <ng-container>
                                                    <div class="p-8 sm:p-16 title-chargement font-semibold tracking-tight text-center textVideMessage">
                                                        La liste est vide !
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </mat-tab>


                    </mat-tab-group>
                </div>
            </ng-container>

        </fuse-card>
    </div>
</div>
