<div class="flex flex-col w-full p-4">

    <div class="flex justify-between mb-1.5">
        <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate c_label">Dépôts de Garanties</div>
        <div *ngIf="credit?.statut==='SAISI'" class="flex items-center mt-8 mb-4 lg:m-0 lg:ml-auto floatRight">
            <button class="c_btnAccount" (click)="addDepotGarantie()" matTooltip="Ajouter une garantie" mat-icon-button>
            <mat-icon  class="text-black-500 icon-size-5 cursor-pointer" [svgIcon]="'heroicons_solid:plus-circle'">
            </mat-icon>
            </button>
        </div>
    </div>

    <hr>
    <table aria-label="depot garantie" class="w-full bg-transparent shadow rounded-xl overflow-hidden" mat-table matSort [dataSource]="depotsGarantiesDataSources" [trackBy]="trackByFn">

        <ng-container matColumnDef="libelle">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                Intitulé
            </th>
            <td mat-cell *matCellDef="let depot"  [matTooltip]="(depot?.description)?.length > 25 ? (depot?.description) : ''">
                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                      {{(depot?.description)?.length > 25 ? (depot?.description | slice : 0 : 25)+ '...' : depot?.description}}
                  </span>
            </td>
        </ng-container>
        <ng-container matColumnDef="montantTotalGarantie">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                Montant total de la garantie
            </th>
            <td mat-cell *matCellDef="let depot">
                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                      {{depot?.montantTotalGarantie ? (depot?.montantTotalGarantie | number : '1.0-0':'fr') : ( depot?.montant  | number : '1.0-0':'fr')}}
                  </span>
            </td>
        </ng-container>
        <ng-container matColumnDef="statut">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                Statut
            </th>
            <td mat-cell *matCellDef="let depot">
                <span class="badge-success" *ngIf="depot?.statut === constantes.STATUS.VALIDE">{{depot?.statut}}</span>
                <span class="badge-red" *ngIf="depot?.statut === constantes.STATUS.ANNULE">{{depot?.statut}}</span>
                <span class="badge-blue" *ngIf="depot?.statut === constantes.STATUS.SAISI">{{depot?.statut}}</span>
                <span class="badge-blue" *ngIf="depot?.statut === constantes.STATUS.CLOTURE">{{depot?.statut}}</span>

            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                Action
            </th>
            <td mat-cell *matCellDef="let depot">
                <p class="pr-6 whitespace-nowrap">
                    <button [disabled]="depot?.statut === constantes.STATUS.ANNULE || depot?.statut === constantes.STATUS.VALIDE || depot?.statut === constantes.STATUS.CLOTURE
" class="mr-1" matTooltip="Validation Garantie" mat-icon-button (click)="validerGarantie(depot)">
                        <mat-icon class=" text-green-400 icon-size-4" [svgIcon]="'done_all'"></mat-icon>
                    </button>
                    <button [disabled]="depot?.statut === constantes.STATUS.ANNULE || depot?.statut === constantes.STATUS.VALIDE || depot?.statut === constantes.STATUS.CLOTURE" matTooltip="Rejeter Garantie" mat-icon-button (click)="rejeterDepotGarantie(depot)">
                        <mat-icon class="text-red-400 icon-size-4" [svgIcon]="'heroicons_outline:x-circle'"></mat-icon>
                    </button>
                    <button  [disabled]="depot?.statut === constantes.STATUS.ANNULE || depot?.statut === constantes.STATUS.SAISI || depot?.statut === constantes.STATUS.CLOTURE" matTooltip="Cloturer Garantie" mat-icon-button (click)="cloturerDepotGarantie(depot)">
                        <mat-icon class="text-red-400 icon-size-4" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    </button>
                    <button>
                     <mat-icon (click)="detailsDepotGarantie(depot)" class=" text-blue-400 icon-size-4"  [svgIcon]="'heroicons_outline:clipboard-list'"></mat-icon>
                    </button>
                </p>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="depotsGarantiesColumns"></tr>
        <tr class="order-row h-16" mat-row *matRowDef="let row; columns: depotsGarantiesColumns;"></tr>
    </table>

    <div *ngIf="isLoading" class="custom-loader"></div>
</div>
