<mat-toolbar class="mat-accent m-0 backToolbar">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="c_formulaire">
        <span class="c_title dialog-title">{{dialogTitle}}</span>
        <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog" class="closeButton">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="flex flex-col flex-auto min-w-10-0 p-2 md:p-4">
    <div class="event-form w-100-p">
        <div class="flex gap-2 grid grid-cols-4">
            <mat-form-field appearance="outline" class="fuse-mat-dense w-full">
                <mat-label value="" selected class="enteteccColor">Type de financement
                </mat-label>
                <mat-select [(ngModel)]="typeFinanement" (selectionChange)="checkTypeFinancement()" class="enteteccColor">
                    <mat-option class="enteteccColor" *ngFor="let item of typeFinancementList" [value]="item.value">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense w-full" appearance="outline">
                <mat-label class="enteteccColor">Compte
                </mat-label>
                <input [(ngModel)]="numeroCompte" matInput readonly type="text" name="compte" />
                <mat-error>Le champs est obligatoire</mat-error>
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense w-full" appearance="outline">
                <mat-label class="enteteccColor">Date Mise en Place
                </mat-label>
                <input [(ngModel)]="dateMiseEnplace" matInput readonly type="text" name="dateMiseEnplace" />
                <mat-error>Le champs est obligatoire</mat-error>
            </mat-form-field>
<!--            <mat-form-field class="fuse-mat-dense w-1/5" appearance="outline">-->
<!--                <mat-label class="enteteccColor">Différé en jours-->
<!--                </mat-label>-->
<!--                <input readonly [(ngModel)]="dureeDiffereJour" matInput type="text" name="dureeDiffereJour" />-->
<!--                <mat-error>Le champs est obligatoire</mat-error>-->
<!--            </mat-form-field>-->

            <mat-form-field class="fuse-mat-dense w-full" appearance="outline">
                <mat-label class="enteteccColor">Date premiére échéance (entre {{minCDate}} - {{maxCDate}})</mat-label>
                <input (dateChange)="changeDat(datePremiereEcheanceSouhaite)" [min]="minDate" [max]="maxDate" class="enteteccColor"
                       [autocomplete]="'off'" matInput type="text" (click)="picker.open()" [autocomplete]="'off'"
                       matInput [matDatepicker]="picker" name="date" [(ngModel)]="datePremiereEcheanceSouhaite" bsDatepicker />
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon class="enteteccColor">calendar_today</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>Le champs est oligatoire</mat-error>
            </mat-form-field>
        </div>



        <table aria-label="financer 1" class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead class="bg-gray-50 dark:bg-gray-800">
                <tr>
                    <th scope="col" class="px-4 py-3.5 text-sm font-bold text-left rtl:text-right text-black dark:text-gray-400">
                        Montant Financement: {{currentCredit?.montant | number:'1.0-0':'fr'}}
                    </th>
                    <th scope="col" class="px-4 py-3.5 text-sm font-bold text-left rtl:text-right text-black dark:text-gray-400">
                        Taux: {{currentCredit?.taux}} %
                    </th>
                    <th scope="col" class="px-4 py-3.5 text-sm font-bold text-left rtl:text-right text-black dark:text-gray-400">
                        Nombre Echéance: {{currentCredit?.nombreEcheance}}
                    </th>
<!--                    <th scope="col" class="px-4 py-3.5 text-sm font-bold text-left rtl:text-right text-black dark:text-gray-400">-->
<!--                        Date Mise en Place : {{dateMiseEnplace | date : 'dd/MM/yyyy' }}-->
<!--                    </th>-->
                    <th scope="col" class="px-4 py-3.5 text-sm font-bold text-left rtl:text-right text-black dark:text-gray-400">
                        Date Première Echéance : {{currentCredit?.datePremiereEcheance | date : 'dd/MM/yyyy'}}
                    </th>
                </tr>
            </thead>

        </table>

        <div *ngIf="isLoading" class="custom-loader"></div>

        <section class="container mx-auto mt-2" *ngIf="tableAmortissement.length !== 0 && !isLoading">
            <div class="flex flex-col">
                <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                        <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">

                            <table aria-label="financer 2" class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                                <thead class="c_header">
                                    <tr>
                                        <th scope="col" class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-white">
                                            N°
                                        </th>
                                        <th scope="col" class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-white">
                                            Date Echéance
                                        </th>
                                        <th scope="col" class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-white">
                                            Capital Restant dû
                                        </th>
                                        <th scope="col" class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-white">
                                            Capital Echéance
                                        </th>
                                        <th scope="col" class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-white">
                                            Intérét Echéance
                                        </th>
                                        <th scope="col" class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-white">
                                            Montant Echéance
                                        </th>
                                        <th scope="col" class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-white">
                                            Mnt Remboursé
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                                    <tr *ngFor="let item of tableAmortissement ; trackBy: trackByFn">

                                        <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                            {{item?.numero}}
                                        </td>
                                        <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                            {{item?.dateEcheance | date:'dd/MM/yyyy'}}
                                        </td>
                                        <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                            {{item?.capitalRestant | number:'1.0-0':'fr'}}
                                        </td>
                                        <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap text-center">
                                            {{item?.montantCapital | number:'1.0-0':'fr'}}
                                        </td>
                                        <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap text-center">
                                            {{item?.montantInteret | number:'1.0-0':'fr'}}
                                        </td>
                                        <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap text-center">
                                            {{item?.montantEcheance | number:'1.0-0':'fr'}}
                                        </td>
                                        <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                            {{item?.montantRembourse | number:'1.0-0':'fr'}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap font-bold" colspan="3">TOTAL GENERAL</td>
                                        <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap text-center font-bold">{{montantCapitalTotal | number:'1.0-0':'fr'}}</td>
                                        <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap text-center font-bold">{{interetsTotals | number:'1.0-0':'fr'}}</td>
                                        <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap text-center font-bold">{{montantEcheanceTotal | number:'1.0-0':'fr'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div *ngIf="loader" class="custom-loader"></div>

        <div class="flex justify-center gap-4 mb-2" *ngIf="tableAmortissement.length !== 0 && !isLoading">
            <button mat-raised-button class="submit-buttonRed" matDialogClose type="button">
                <span class="textForm">Annuler</span>
            </button>&nbsp;

            <button (click)="financerCredit()" mat-raised-button class="submit-button">
                <span class="textForm" >Financer</span>
            </button>
        </div>

    </div>
</div>
