<div class="flex flex-col">
  <div class="flex items-start">
    <span class="font-bold text-md">DETAILS D'UNE ENTENTE DE COMPENSATION</span>
  </div>
  <div class=" w-full h-[100px] flex justify-between">
    <img src="assets/images/Rectangle108.png" alt="" srcset="">
    <img src="assets/images/Rectangle109.png" alt="" srcset="">
  </div>
  <div class="flex flex-col text-[15px] text-black">
    <label for="">Plan de réinstallation : {{projectName}}</label>
    <label for="">Code Pap : {{entente.codePap}}</label>
    <label for="">Mr/Mme</label>
    <label for="">Prénom & Nom : {{entente.prenom}} {{entente.nom}}</label>
    <label for="">Date & Lieu de naissance : {{entente.dateNaissance}} à {{entente.lieuNaissance}}</label>
    <label for="">Cni/Passport : {{entente.numeroPiece}}</label>
  </div>
  <div class="p-4 detail-entente">
    <h1>Détail de l'entente</h1>

    <div *ngFor="let item of entente.articles" class="article">
      <div class="titre">
        {{item.titre}}
      </div>
      <div class="description">
        {{item.description}}
      </div>

    </div>

  </div>

  <div class="signature flex items-center justify-content-around">

    <div>
      <h1>Signature du Pap</h1>
      <img class="w-32 h-32 " [src]="entente.urlSignaturePap ? entente.urlSignaturePap : imageDefautSignature " alt="" style="border-radius: 5%;">
    </div>

    <div>
      <h1>Signature du Responsable</h1>
      <img class="w-32 h-32" [src]="entente.urlSignatureResponsable ? entente.urlSignatureResponsable : imageDefautSignature " alt="" style="border-radius: 5%;">
    </div>

  </div>

</div>
