<mat-toolbar class="mat-accent m-0 backToolbar">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="c_formulaire">
        <span class="c_title dialog-title">{{dialogTitle}}</span>
        <button mat-icon-button matTooltip="fermer" (click)="matDialogRef.close()" aria-label="Close dialog"
            class="closeButton">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="flex flex-col items-center pb-6 px-6 sm:pb-10 sm:px-10">

    <div class="flex flex-auto w-full">
            <div class="flex flex-col w-full">
                        <div class="w-full flex rec">
                            <div class="titleReca">Informations de la garantie</div>
                        </div>
                    <hr class="w-full border-t my-3">
                    <div class="flex flex-auto w-full cSize">
                        <div class="flex flex-col w-full">
                            <div class="flex items-center grid grid-cols-2 recapCss">
                                <span class="tReca">Type de garantie : </span>
                                <span class="tiReca">{{datas?.typeGarantie?.libelle}}</span>
                            </div>
                            <div class="flex items-center grid grid-cols-2 mt-2 recapCss">
                                <span class="tReca">Intitulé : </span>
                                <span class="tiReca" [matTooltip]="datas?.description">
                                    {{datas?.description}}</span>
                            </div>
                            <div class="flex items-center grid grid-cols-2 mt-2 recapCss">
                                <span class="tReca">Montant : </span>
                                <span class="tiReca">{{datas?.montant | number :
                                    '1.0-0':'fr'}}</span>
                            </div>
                        </div>

                        <div class="flex flex-col w-full">
                            <div class="flex grid grid-cols-2 recapCss">
                                <span class="tReca">Validé par : </span>
                                <span class="tiReca">{{datas?.userValidation?.firstName }} - {{datas?.userValidation?.lastName  }}</span>
                            </div>
                            <div class="flex mt-2 grid grid-cols-2 recapCss">
                                <span class="tReca">Date création: </span>
                                <span class="tiReca">
                                    {{datas?.dateCreated  | date :'dd/MM/yyyy'}}
                                </span>
                            </div>
                            <div class="flex mt-2 grid grid-cols-2 recapCss">
                                <span class="tReca">Date validation</span>
                                <span class="tiReca">
                                    {{datas?.dateValidation  | date :'dd/MM/yyyy'}}
                                </span>
                            </div>
                        </div>
                    </div>
                <attribut-complementaire title="Attribut complémentaire" (ajoutAttributComplementaire)="ajoutAttributComplementaire()" [infosClient]="datas" (updateAttributComplementaire)="updateAttributComplementaire($event)" [attributComplementaire]="attributComplementaires" [natureAttribut]="'GARANTIE'"></attribut-complementaire>

            </div>
    </div>
</div>
