<div class="container-fluid p-0">
  <div class="row g-0">

    <div class="col-xl-9">
      <div class="auth-full-bg pt-lg-5 p-4">
        <div class="w-100">
          <div class="bg-overlay"></div>
          <div class="d-flex h-100 flex-column">

            <div class="p-4 mt-auto">
              <div class="row justify-content-center">
                <div class="col-lg-7">
                  <div class="text-center">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->

    <div class="col-xl-3">
      <div class="auth-full-page-content p-md-5 p-4">
        <div class="w-100">

          <div class="d-flex flex-column h-100">
            <div class="mb-4 mb-md-5">
              <a routerLink="/" class="d-block auth-logo">
                <img src="assets/images/logo-dark.png" alt="" height="18" class="auth-logo-dark">
                <img src="assets/images/logo-light.png" alt="" height="18" class="auth-logo-light">
              </a>
            </div>
            <div class="my-auto">

              <div>
                <h5 class="text-primary">Welcome Back !</h5>
                <p class="text-muted">Réinitialiser votre mot de passe.</p>
              </div>

              <div class="mt-4">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                  <div class="mb-3 relative">
                    <label for="email">Password</label>
                    <div class="input-group auth-pass-inputgroup">
                      <input [type]="fieldTextType ? 'text' : 'password'" class="form-control"
                        formControlName="password" [ngClass]="{
                          'is-valid': f.password.valid || f.password.touched,
                          'is-invalid':f.password.invalid && f.password.touched
                        }"
                        placeholder="Enter password" aria-label="Password" aria-describedby="password-addon">
                      <button class="btn btn-light " type="button" id="password-addon">
                        <i class="mdi mdi-eye-outline" [ngClass]="{
                    'mdi-eye-off-outline': !fieldTextType,
                    'mdi-eye-outline': fieldTextType
                  }" (click)="toggleFieldTextType()"></i>
                      </button>
                      @if(f.password.invalid && (f.password.dirty || f.password.touched)){
                      <div class="text-red-500 absolute top-10">
                        @if(f.password.errors.required){
                        <span>Password is required</span>
                        }
                        @if(f.password.errors.pattern){
                        <span>password not valid</span>
                        }
                      </div>}
                    </div>
                  </div>

                  <div class="mb-3 relative">
                    <label for="userpassword">Confirm Password</label>
                    <div class="input-group auth-pass-inputgroup">
                      <input [type]="fieldTextType1 ? 'text' : 'password'" class="form-control"
                        formControlName="password_confirm"
                        [ngClass]="{
                          'is-valid': f.password_confirm.valid || f.password_confirm.touched,
                          'is-invalid':f.password_confirm.invalid && f.password_confirm.touched
                        }"
                        placeholder="Enter confirm_password" aria-label="Password" aria-describedby="password-addon">
                      <button class="btn btn-light " type="button" id="password-addon">
                        <i class="mdi mdi-eye-outline" [ngClass]="{
                          'mdi-eye-off-outline': !fieldTextType1,
                          'mdi-eye-outline': fieldTextType1
                        }" (click)="toggleFieldTextType1()"></i>
                      </button>
                      @if(f.password_confirm.invalid && (f.password_confirm.dirty || f.password_confirm.touched)){
                      <div class="text-red-500 absolute top-10">
                        @if(f.password_confirm.errors.required){
                        <span>confirm password is required</span>
                        }
                        @if(f.password_confirm.errors.pattern){
                        <span>password_confirm not valid</span>
                        }
                      </div>}
                      @if (f.password_confirm.valid && loginForm.errors?.['PasswordNoMatch']) {
                      <span class="text-red-500 absolute top-10  text-sm md:text-sm">Les mots de passe ne correspondent
                        pas.</span>
                      }
                    </div>
                  </div>
                  <div class="mt-4 d-grid">
                    <button class="btn btn-primary btn-block" [disabled]="loginForm.invalid"
                      type="submit">Envoyer</button>
                  </div>
                  @if (submitted) {
                  <div class="loader"></div>
                  }

                </form>
                <div class="mt-5 text-center">
                  <p> <a routerLink="/auth/login" class="fw-medium text-primary"> Se connecter
                    </a> </p>
                </div>
              </div>
            </div>

            <div class="mt-4 mt-md-5 text-center">
              <p class="mb-0">©
                {{year}} Skote. Crafted with <i class="mdi mdi-heart text-danger"></i> by
                Themesbrand</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- end container-fluid -->
