.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
  background-color: #7d90ee;
  color: white;
}

.custom-day.faded {
  background-color: #7d90ee;
}

.custom-ckeditor {
  .ck-editor__editable {
    max-height: 150; /* Limite la hauteur à 300px */
    overflow-y: auto; /* Ajoute une barre de défilement verticale si le contenu dépasse la hauteur maximale */
  }
}
