<div class="w-full lg:h-auto">
    <div class="w-full">

        <div class="">
            <fuse-card class="flex flex-col w-full p-8">
                <div class="text-2xl font-semibold leading-tight">Information gestionnaire</div>
                <hr class="w-full border-t my-6">
                <div class="flex flex-auto w-full">
                    <div class="flex flex-col w-full">
                        <div class="flex items-center">
                            <span class="mr-3">Type de client: </span>
                            <span class="leading-none font-bold">Particulier</span>
                        </div>
                        <div class="flex items-center mt-4">
                            <span class="mr-3">Agent de crédit: </span>
                            <span class="leading-none font-bold">Cheikh Diop</span>
                        </div>
                        <div class="flex items-center mt-4">
                            <span class="mr-3">Secteur d'activité: </span>
                            <span class="leading-none font-bold">Commerce</span>
                        </div>
                        <div class="flex items-center mt-4">
                            <span class="mr-3">Localité: </span>
                            <span class="leading-none font-bold">Thies</span>
                        </div>
                        <div class="flex items-center mt-4">
                            <span class="mr-3">Qualité: </span>
                            <span class="leading-none font-bold">Débutant</span>
                        </div>
                    </div>
                    <div class="flex flex-col w-full">
                        <div class="flex items-center">
                            <span class="mr-3">Catégorie: </span>
                            <span class="leading-none font-bold">Particulier normal</span>
                        </div>
                        <div class="flex items-center mt-4">
                            <span class="mr-3">Agent de recouvrement: </span>
                            <span class="leading-none font-bold">Adam Diatta</span>
                        </div>
                        <div class="flex items-center mt-4">
                            <span class="mr-3">Sous secteur d'activité: </span>
                            <span class="leading-none font-bold">Divers / Commerce</span>
                        </div>
                        <div class="flex items-center mt-4">
                            <span class="mr-3">Employeur: </span>
                            <span class="leading-none font-bold"></span>
                        </div>
                        <div class="flex items-center mt-4">
                            <span class="mr-3">Adhéré(e) le : </span>
                            <span class="leading-none font-bold">06/01/2023</span>
                        </div>
                    </div>
                </div>
            </fuse-card>
        </div>



    </div>
</div>