<div class="w-full heighContentRight" id="heighContentRightId">
    <div class="w-full mb-10">
        <fuse-card class="flex flex-col w-full p-4">
            <ng-container *ngIf="!showVue">
                <div class="flex flex-col flex-auto bg-card overflow-hidden">
                    <div class="flex justify-between mb-1.5">
                        <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate c_label">Liste des virements permanents
                        </div>
                        <div class="flex items-center mt-8 mb-4 lg:m-0 lg:ml-auto floatRight">
                            <button *ngIf="tableVirement.length !== 0" class="c_btnAccount" matTooltip="Ajouter virement permanent"
                                    (click)="ajoutVirementPerm()" mat-icon-button>
                                <mat-icon class="text-black-500 icon-size-5 cursor-pointer"
                                          [svgIcon]="'heroicons_solid:plus-circle'">
                                </mat-icon>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="overflow-x-auto" *ngIf="tableVirement.length !== 0">
                        <table aria-label="liste des crédits d'un client" class="w-full bg-transparent" mat-table
                               matSort [dataSource]="virementDataSource"
                               [trackBy]="trackByFn" #compteTable>
                            <ng-container matColumnDef="numero">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    Nº
                                </th>
                                <td mat-cell *matCellDef="let credit">
                                    <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                        {{ credit?.numero }}
                                    </span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="client">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    Client
                                </th>
                                <td mat-cell *matCellDef="let credit">
                                    <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                        {{ credit?.client?.intitule | titlecase}}
                                    </span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="montantVirement">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    Montant
                                </th>
                                <td mat-cell *matCellDef="let credit">
                                    <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                        {{ credit?.montantVirement | number : '1.0-0':'fr' }}
                                    </span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="periodicite">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    Periodicite
                                </th>
                                <td mat-cell *matCellDef="let credit">
                                    <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                        {{ credit?.periodicite.libelle }}
                                    </span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="dateMiseEnPlace">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef class="thEnte" style="width: max-content!important;">
                                    Date MEP
                                </th>
                                <td mat-cell *matCellDef="let credit">
                                    <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                        {{ credit?.dateMiseEnPlace | date : 'dd/MM/YYYY' }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="nbreJourRechercheProvision">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    Jour(s)
                                </th>
                                <td mat-cell *matCellDef="let credit">
                                    <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                        {{ credit?.nbreJourRechercheProvision }} jrs
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="statut">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    Statut
                                </th>
                                <td mat-cell *matCellDef="let credit">
                                    <span class="custom_badge_success"
                                          *ngIf="credit?.statut === constantes.STATUS.FINANCE">{{ credit?.statut }}</span>
                                    <span class="custom_badge_red"
                                          *ngIf="credit?.statut === constantes.STATUS.ANNULE">{{ credit?.statut }}</span>
                                    <span class="custom_badge_red"
                                          *ngIf="credit?.statut === constantes.STATUS.REJETE">{{ credit?.statut }}</span>
                                    <span class="custom_badge_blue"
                                          *ngIf="credit?.statut === constantes.STATUS.SAISI">{{ credit?.statut }}</span>
                                    <span class="custom_badge_success"
                                          *ngIf="credit?.statut === constantes.STATUS.VALIDE">{{ credit?.statut }}</span>
                                    <span class="custom_badge_grey"
                                          *ngIf="credit?.statut === constantes.STATUS.CLOTURE">{{ credit?.statut }}</span>
                                    <span class="custom_badge_brown"
                                          *ngIf="credit?.statut === constantes.STATUS.ENSOUFFRANCE">{{ credit?.statut }}</span>
                                    <span class="custom_badge_success"
                                          *ngIf="credit?.statut === constantes.STATUS.ACCEPTE">{{ credit?.statut }}</span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    Action
                                </th>
                                <td mat-cell *matCellDef="let credit">
                                    <p class="pr-6 whitespace-nowrap">
                                        <button matTooltip="Details virement permanent" mat-icon-button (click)="detailsCredit(credit)">
                                            <mat-icon class=" text-blue-500 icon-size-4"
                                                      [svgIcon]="'heroicons_outline:eye'">
                                            </mat-icon>
                                        </button>
                                        <button [disabled]="creditSelect?.statut ==='DEMISSION'"
                                            *ngIf="credit.statut == constantes.STATUS.SAISI"
                                            matTooltip="Valider le virement"
                                            (click)="validerVirementPermanent(credit)" mat-icon-button>
                                            <mat-icon class="iconAction detail icon-size-4 c-colorGreen"
                                                      svgIcon="mat_outline:check_circle"></mat-icon>
                                        </button>
                                        <button [disabled]="creditSelect?.statut ==='DEMISSION'" matTooltip="Rejeter le virement permanent" mat-icon-button (click)="rejeterVirementPermanent(credit)" *ngIf="credit.statut==='SAISI' ">
                                            <mat-icon class=" text-red-700 icon-size-4"
                                                      [svgIcon]="'mat_outline:cancel'">
                                            </mat-icon>
                                        </button>
                                    </p>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="creditColumns"></tr>
                            <tr class="order-row h-16" mat-row *matRowDef="let row; columns: creditColumns;"></tr>
                        </table>
                    </div>

                        <div *ngIf="isLoading" class="custom-loader"></div>

                    <div *ngIf="!isLoading && tableVirement.length === 0" class="c_credit">
                        <button [disabled]="creditSelect?.statut ==='DEMISSION'" class="c_btnAccount_attribut c_btnAccountF" matTooltip="Ajouter Virement permanent" (click)="ajoutVirementPerm()" mat-icon-button>
                            <mat-icon class="c_icons c_cursor icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                        </button>
                        <h1 class="c_label">Ajouter Virement permanent</h1>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="showVue">
                <div>
                    <div class="flex justify-between c_mbuttom">
                                                <span class="inline-flex items-center cursor-pointer mb-1"
                                                      (click)="showVue = !showVue">
                                                    <mat-icon class="icon-size-5 text-current"
                                                              [svgIcon]="'heroicons_solid:arrow-sm-left'"></mat-icon>
                                                    <span class="ml-1.5 font-medium leading-5">Retour</span>
                                                </span>

                        <div class="flex items-center mt-8 mb-4 lg:m-0 lg:ml-auto floatRight">
                            <div *ngIf="isLoading" class="mr-2">
                                <mat-progress-spinner class="circle-loader" color="#000000" [mode]="'indeterminate'"
                                                      [strokeWidth]="4" [value]="2" [diameter]="25">
                                </mat-progress-spinner>
                            </div>



                        </div>
                    </div>
                    <hr>
                    <mat-tab-group dynamicHeight [(selectedIndex)]="currentTab" class="w-full">
                        <mat-tab label="Virement permanent">
                            <div>
                                <div class="flex flex-col w-full p-4 mt-4">
                                    <div class="flex justify-between">
                                        <div class="leading-tight uppercase c_title_header">Informations générales du virement permanent
                                        </div>
                                    </div>
                                    <hr class="w-full border-t">

                                    <div class="flex flex-auto w-full mb-4">
                                        <div class="flex flex-col  w-full">
                                            <div class="grid grid-cols-2 items-center">
                                                <span class="mr-3">Client : </span>
                                                <span class="leading-none font-bold">{{ currentCredit?.client.intitule }}</span>
                                            </div>
                                            <div class="grid grid-cols-2 items-center">
                                                <span class="mr-3">Numéro : </span>
                                                <span class="leading-none font-bold">{{ currentCredit?.numero }}</span>
                                            </div>
                                            <div class="grid grid-cols-2 items-center mt-4">
                                                <span class="mr-3">Nombre jour: </span>
                                                <span class="leading-none font-bold">{{
                                                        currentCredit?.nbreJourRechercheProvision
                                                    }}</span>
                                            </div>
                                            <div class="grid grid-cols-2 items-center mt-4">
                                                <span class="mr-3">Nombre Succes: </span>
                                                <span class="leading-none font-bold">{{ currentCredit?.nbreSucces }}</span>
                                            </div>
                                            <div class="grid grid-cols-2">
                                                <span class="mr-3">Periodicite: </span>
                                                <span
                                                    class="leading-none font-bold">{{ currentCredit?.periodicite.libelle }}</span>
                                            </div>
                                            <div class="grid grid-cols-2 items-center mt-4">
                                                <span class="mr-3">Motif Virement: </span>
                                                <span
                                                    class="leading-none font-bold">{{ currentCredit?.motifVirement }}</span>
                                            </div>
                                            <div class="grid grid-cols-2 mt-4"
                                            >
                                                <span class="mr-3">Date mise en place: </span>
                                                <span
                                                    class="leading-none font-bold">{{ currentCredit?.dateMiseEnPlace | date :'dd-MM-YYYY'}}</span>
                                            </div>
                                        </div>
                                        <div class="flex flex-col w-full">

                                            <div class="grid grid-cols-2 items-center">
                                                <span class="mr-3">Nombre Echeance: </span>
                                                <span class="leading-none font-bold">{{
                                                        currentCredit?.nbreEcheance
                                                    }}</span>
                                            </div>

                                            <div class="grid grid-cols-2 flex items-center mt-4">
                                                <span class="mr-3">Statut: </span>
                                                <span class="badge-success baStatut"
                                                      *ngIf="currentCredit?.statut === constantes.STATUS.FINANCE">{{ currentCredit?.statut }}</span>
                                              <span class="badge-success baStatut"
                                                      *ngIf="currentCredit?.statut === constantes.STATUS.ACCEPTE">{{ currentCredit?.statut }}</span>
                                                <span class="badge-red baStatut"
                                                      *ngIf="currentCredit?.statut === constantes.STATUS.ANNULE">{{ currentCredit?.statut }}</span>
                                                <span class="badge-red baStatut"
                                                      *ngIf="currentCredit?.statut === constantes.STATUS.REJETE">{{ currentCredit?.statut }}</span>
                                                <span class="badge-blue baStatut"
                                                      *ngIf="currentCredit?.statut === constantes.STATUS.SAISI">{{ currentCredit?.statut }}</span>
                                                <span class="badge-green baStatut"
                                                      *ngIf="currentCredit?.statut === constantes.STATUS.VALIDE">{{ currentCredit?.statut }}</span>
                                                <span class="badge-gray baStatut"
                                                      *ngIf="currentCredit?.statut === constantes.STATUS.CLOTURE">{{ currentCredit?.statut }}</span>
                                                <span class="custom_badge_brown baStatut"
                                                      *ngIf="currentCredit?.statut === constantes.STATUS.ENSOUFFRANCE">{{ currentCredit?.statut }}</span>
                                                <span class="custom_badge_black baStatut"
                                                      *ngIf="currentCredit?.statut === constantes.STATUS.VALIDE_PAR_LE_COMMITE">VALIDE COMMITE</span>
                                            </div>
                                            <div class="grid grid-cols-2 mt-4">
                                                <span class="mr-3">Numero Echeance: </span>
                                                <span
                                                    class="leading-none font-bold">{{ currentCredit?.numeroEcheance }}</span>
                                            </div>
                                            <div class="grid grid-cols-2 mt-4">
                                                <span class="mr-3">Montant Virement : </span>
                                                <span
                                                    class="leading-none font-bold">{{ currentCredit?.montantVirement | number : '1.0-0' : 'fr'}} </span>
                                            </div>
                                            <div class="grid grid-cols-2 mt-4"
                                            >
                                                <span class="mr-3">Date premiere echeance: </span>
                                                <span class="leading-none font-bold">{{ currentCredit?.datePremierEcheance | date : 'dd-MM-YYYY'}}</span>
                                            </div>
                                            <div class="grid grid-cols-2 mt-4"
                                            >
                                                <span class="mr-3">Date fin virement: </span>
                                                <span class="leading-none font-bold">{{ currentCredit?.dateFinVirement | date : 'dd-MM-YYYY'}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex justify-between mt-4">
                                        <div class="leading-tight uppercase c_title_header">Information Compte Debit</div>
                                    </div>
                                    <hr class="w-full border-t">
                                    <div class="flex flex-auto w-full mb-4">
                                        <div class="flex flex-col w-full">

                                            <div class="grid grid-cols-2 items-center">
                                                <span class="mr-3">Numero: </span>
                                                <span
                                                    class="leading-none font-bold">{{ currentCredit?.compteDebit?.numero | uppercase}} </span>
                                            </div>
                                            <div class="grid grid-cols-2 items-center">
                                                <span class="mr-3">Nom: </span>
                                                <span
                                                    class="leading-none font-bold">{{ currentCredit?.compteDebit?.nom }} </span>
                                            </div>
                                            <div class="grid grid-cols-2 items-center">
                                                <span class="mr-3">Compte General: </span>
                                                <span
                                                    class="leading-none font-bold">{{ currentCredit?.compteDebit?.compteGeneral?.numero }}</span>
                                            </div>

                                        </div>
                                        <div class="flex flex-col w-full">
                                            <div class="grid grid-cols-2 items-center">
                                                <span class="mr-3">Devise: </span>
                                                <span
                                                    class="leading-none font-bold">{{ currentCredit?.compteDebit?.compteGeneral?.devise }}</span>
                                            </div>
                                            <div class="grid grid-cols-2 items-center">
                                                <span class="mr-3">Client: </span>
                                                <span
                                                    class="leading-none font-bold">{{currentCredit?.compteDebit?.client?.intitule}} </span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="flex justify-between mt-4">
                                        <div class="leading-tight uppercase c_title_header">Information Compte Credit</div>
                                    </div>
                                    <hr class="w-full border-t">
                                    <div class="flex flex-auto w-full mb-4">
                                        <div class="flex flex-col w-full">

                                            <div class="grid grid-cols-2 items-center">
                                                <span class="mr-3">Numero: </span>
                                                <span
                                                    class="leading-none font-bold">{{ currentCredit?.compteCredit?.numero | uppercase}} </span>
                                            </div>
                                            <div class="grid grid-cols-2 items-center">
                                                <span class="mr-3">Nom: </span>
                                                <span
                                                    class="leading-none font-bold">{{ currentCredit?.compteCredit?.nom | uppercase}} </span>
                                            </div>
                                            <div class="grid grid-cols-2 items-center">
                                                <span class="mr-3">Compte General: </span>
                                                <span
                                                    class="leading-none font-bold">{{ currentCredit?.compteCredit?.compteGeneral?.numero }}</span>
                                            </div>

                                        </div>
                                        <div class="flex flex-col w-full">
                                            <div class="grid grid-cols-2 items-center">
                                                <span class="mr-3">Devise: </span>
                                                <span
                                                    class="leading-none font-bold">{{ currentCredit?.compteCredit?.compteGeneral?.devise }}</span>
                                            </div>
                                            <div class="grid grid-cols-2 items-center">
                                                <span class="mr-3">Client: </span>
                                                <span
                                                    class="leading-none font-bold">{{currentCredit?.compteCredit?.client?.intitule}} </span>
                                            </div>

                                        </div>
                                    </div>

                                    <ng-container *ngIf="currentCredit?.statut === constantes.STATUS.VALIDE">
                                        <div class="flex justify-between mt-4">
                                            <div class="leading-tight uppercase c_title_header">Information validation</div>
                                        </div>
                                        <hr class="w-full border-t">
                                        <div class="flex flex-auto w-full mb-4">
                                            <div class="flex flex-col w-full">
                                                <div class="grid grid-cols-2">
                                                    <span class="mr-3">Date validation : </span>
                                                    <span
                                                        class="leading-none font-bold">{{ currentCredit?.dateValidation | date : 'dd-MM-yyyy'}}</span>
                                                </div>
                                                <div class="grid grid-cols-2 mt-4">
                                                    <span class="mr-3">Validé par : </span>
                                                    <span
                                                        class="leading-none font-bold">{{ currentCredit?.userValidation?.displayName }}</span>
                                                </div>
                                            </div>



                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="currentCredit?.statut === constantes.STATUS.REJETE">
                                        <div class="flex justify-between mt-4">
                                            <div class="leading-tight uppercase c_title_header">Information Rejet</div>
                                        </div>
                                        <hr class="w-full border-t">
                                        <div class="flex flex-auto w-full mb-4">
                                            <div class="flex flex-col w-full">
                                                <div class="grid grid-cols-2">
                                                    <span class="mr-3">Date rejet : </span>
                                                    <span
                                                        class="leading-none font-bold">{{ currentCredit?.dateValidation | date : 'dd-MM-yyyy'}}</span>
                                                </div>
                                                <div class="grid grid-cols-2 mt-4">
                                                    <span class="mr-3">Rejeté par : </span>
                                                    <span
                                                        class="leading-none font-bold">{{ currentCredit?.userValidation?.displayName }}</span>
                                                </div>
                                            </div>



                                        </div>
                                    </ng-container>





                                </div>
                            </div>




                        </mat-tab>


                    </mat-tab-group>
                </div>
            </ng-container>

        </fuse-card>
    </div>
</div>
