<div class="flex flex-col w-full p-4 items-center">
    <hr>
    <table aria-label="frais lier" class="w-full bg-transparent shadow rounded-xl overflow-hidden" mat-table matSort [dataSource]="fraisLierDataSource" [trackBy]="trackByFn">
        <ng-container matColumnDef="intituleFrais">
            <th mat-header-cell mat-sort-header *matHeaderCellDef class="thEnte">
                Libellé
            </th>
            <td mat-cell *matCellDef="let frais">
                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                      {{frais?.intituleFrais}}
                  </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="montantFrais">
            <th mat-header-cell mat-sort-header *matHeaderCellDef class="thEnte">
                Montant
            </th>
            <td mat-cell *matCellDef="let frais">
                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                      {{frais?.montantFrais | number : '1.0-0':'fr'}}
                  </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="dateGeneration">
            <th mat-header-cell mat-sort-header *matHeaderCellDef class="thEnte">
                Date Génération
            </th>
            <td mat-cell *matCellDef="let frais">
                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                      {{frais?.dateGeneration | date: 'dd/MM/yyyy'}}
                  </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="datePaiement">
            <th mat-header-cell mat-sort-header *matHeaderCellDef class="thEnte">
                Date Paiement
            </th>
            <td mat-cell *matCellDef="let frais">
                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                      {{frais?.datePaiement | date: 'dd/MM/yyyy'}}
                  </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="statut">
            <th mat-header-cell mat-sort-header *matHeaderCellDef class="thEnte">
                Statut
            </th>
            <td mat-cell *matCellDef="let frais">
                <span style="display: flex;width: max-content;" class="badge-success" *ngIf="frais?.statut === constantes.STATUS.PAYE">Payé</span>
                <span style="display: flex;width: max-content;" class="badge-red" *ngIf="frais?.statut === constantes.STATUS.NON_PAYE">Non payé</span>
                <span style="display: flex;width: max-content;" class="badge-red" *ngIf="frais?.statut === constantes.STATUS.ABANDONNE">Abandonné</span>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="fraisColumns"></tr>
        <tr class="order-row h-16" mat-row *matRowDef="let row; columns: fraisColumns;"></tr>
    </table>
</div>
